In [2]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
connexion = sqlite3.connect('db/vivino.db')
cursor = connexion.cursor()

In [3]:
# 2 - countries Marketing priorities: 

query2a= ("""
SELECT  countries.users_count,
        countries.name, 
        AVG(wines.ratings_average), 
        sum(wines.ratings_count),
        AVG(vintages.price_euros),
        ROUND((SUM(wines.ratings_count)*1.0/countries.users_count), 2) AS ratings_per_user 
        
FROM    wines
        JOIN regions ON wines.region_id = regions.id
        JOIN countries ON regions.country_code = countries.code
        JOIN vintages ON wines.id = vintages.wine_id
GROUP BY countries.name  
ORDER BY countries.users_count DESC, AVG(wines.ratings_average) DESC, AVG(wines.ratings_count) DESC
LIMIT 100
""") 

# for row in cursor.execute(query3):
#     print(row)
cursor.execute(query2a)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query2a, connexion)
df

Number of rows: 17
[(12273684, 'États-Unis', 4.506250000000001, 1528232, 300.36616071428574, 0.12), (5973301, 'France', 4.484049930651893, 9634864, 1025.3709986130377, 1.61), (4270717, 'Italie', 4.478492239467868, 11898245, 476.0170214338511, 2.79), (2549989, 'Allemagne', 4.475000000000001, 16609, 282.01666666666665, 0.01), (2264396, 'Espagne', 4.467175572519083, 1132535, 282.1422900763359, 0.5), (1601799, 'Suisse', 4.35, 1047, 123.42500000000001, 0.0), (1123535, 'Portugal', 4.429032258064517, 71717, 161.94903225806445, 0.06), (1022965, 'Australie', 4.5, 142532, 495.00937500000003, 0.14), (629532, 'Argentine', 4.42857142857143, 341337, 111.37749999999998, 0.54), (326757, 'Chili', 4.468, 363988, 129.70519999999996, 1.11), (269649, 'Afrique du Sud', 4.465625000000001, 80449, 87.73968749999997, 0.3), (228185, 'Roumanie', 4.4, 166, 36.08, 0.0), (150549, 'Israël', 4.5, 894, 37.05, 0.01), (102235, 'Hongrie', 4.4642857142857135, 48542, 106.825, 0.47), (95693, 'Grèce', 4.4, 610, 124.0, 0.01), (64223, 'Croatie', 4.3, 292, 35.4, 0.0), (13583, 'Moldavie', 4.471428571428571, 26463, 42.63714285714286, 1.95)]

,users_count,name,AVG(wines.ratings_average),sum(wines.ratings_count),AVG(vintages.price_euros),ratings_per_user
0,12273684,États-Unis,4.506250,1528232,300.366161,0.12
1,5973301,France,4.484050,9634864,1025.370999,1.61
2,4270717,Italie,4.478492,11898245,476.017021,2.79
3,2549989,Allemagne,4.475000,16609,282.016667,0.01
4,2264396,Espagne,4.467176,1132535,282.142290,0.50
5,1601799,Suisse,4.350000,1047,123.425000,0.00
6,1123535,Portugal,4.429032,71717,161.949032,0.06
7,1022965,Australie,4.500000,142532,495.009375,0.14
8,629532,Argentine,4.428571,341337,111.377500,0.54
9,326757,Chili,4.468000,363988,129.705200,1.11
10,269649,Afrique du Sud,4.465625,80449,87.739687,0.30
11,228185,Roumanie,4.400000,166,36.080000,0.00
12,150549,Israël,4.500000,894,37.050000,0.01
13,102235,Hongrie,4.464286,48542,106.825000,0.47
14,95693,Grèce,4.400000,610,124.000000,0.01
15,64223,Croatie,4.300000,292,35.400000,0.00
16,13583,Moldavie,4.471429,26463,42.637143,1.95

In [4]:
# 3 - best winery >> The winery Key and name are wrong in the database, join is useless
query3a = ("""
SELECT  wines.winery_id, 
        wineries.name ,
        AVG(wines.ratings_average), 
        AVG(wines.ratings_count)        
        
FROM    wines
        JOIN wineries ON wines.winery_id = wineries.id
GROUP BY wines.winery_id  
ORDER BY AVG(wines.ratings_average) DESC, AVG(wines.ratings_count) DESC
LIMIT 100
""") 

# for row in cursor.execute(query3):
#     print(row)
cursor.execute(query3a)
result = cursor.fetchall()
print("Number of rows:", len(result))
#print (result)
df = pd.read_sql_query(query3a, connexion)
df

Number of rows: 4

,winery_id,name,AVG(wines.ratings_average),AVG(wines.ratings_count)
0,1651,Tenuta Tignanello 'Solaia',4.5,2472.0
1,75712,Corte di Cama Sforzato di Valtellina,4.5,58.0
2,1652,Tignanello,4.4,741.0
3,1471,Siepi,4.3,4981.0

In [5]:
# 3 - best winery 
query3b = ("""
SELECT  wines.name,
        wines.id,
        vintages.name,
        CASE 
                WHEN INSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), wines.name) > 0 THEN
                        SUBSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), 1, INSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), wines.name) - 1) || 
                        SUBSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), INSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), wines.name) + LENGTH(wines.name))
                ELSE SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5)
        END AS winery_name,
        wines.winery_id,
        AVG(wines.ratings_average) AS ratings_avg,
        AVG(wines.ratings_count) AS ratings_cnt
        
FROM    wines
        JOIN vintages ON vintages.wine_id = wines.id
       
GROUP BY wines.winery_id  
HAVING ratings_avg >= 4.5 and ratings_cnt> 35000  
ORDER BY AVG(wines.ratings_count)  DESC, AVG(wines.ratings_average) DESC
LIMIT 20
""") 

cursor.execute(query3b)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query3b, connexion)
df

Number of rows: 14
[('Sassicaia', 5078, 'Tenuta San Guido Sassicaia 2005', 'Tenuta San Guido ', 1413, 4.599999999999998, 107646.0), ('Brut Champagne', 86684, 'Dom Pérignon Brut Champagne 2000', 'Dom Pérignon ', 212823, 4.625000000000001, 95089.75), ('60 Sessantanni Old Vines Primitivo di Manduria', 11890, 'San Marzano 60 Sessantanni Old Vines Primitivo di Manduria 2017', 'San Marzano ', 55648, 4.5, 94289.0), ('Special Selection Cabernet Sauvignon', 66294, 'Caymus Special Selection Cabernet Sauvignon 1997', 'Caymus ', 1301, 4.666666666666667, 80138.66666666667), ('Tignanello', 1652, 'Antinori Tignanello 2005', 'Antinori ', 1252, 4.505, 71223.8), ('Ribera del Duero', 77171, 'Alión Ribera del Duero 2019', 'Alión ', 11049, 4.5, 69278.0), ('Opus One', 1911534, 'Opus One Opus One 2012', ' Opus One', 1368, 4.585714285714286, 68446.0), ('Pauillac (Premier Grand Cru Classé)', 1684223, 'Château Mouton Rothschild Pauillac (Premier Grand Cru Classé) 2009', 'Château Mouton Rothschild ', 64252, 4.550000000000001, 62429.5), ('Unico', 77137, 'Vega Sicilia Unico 2012', 'Vega Sicilia ', 11050, 4.666666666666667, 49002.166666666664), ('Almaviva', 4086, 'Almaviva Almaviva 2014', ' Almaviva', 17605, 4.6, 48075.0), ('Bolgheri Superiore', 22447, 'Ornellaia Bolgheri Superiore 2006', 'Ornellaia ', 7941, 4.585714285714284, 46344.92857142857), ('Sauternes', 1153863, "Château d'Yquem Sauternes 2005", "Château d'Yquem ", 8028, 4.7, 44126.0), ('Château Margaux (Premier Grand Cru Classé)', 1127795, 'Château Margaux Château Margaux (Premier Grand Cru Classé) 2009', 'Château Margaux ', 1319, 4.586666666666668, 43420.066666666666), ('Grand Vin Pauillac (Premier Grand Cru Classé)', 1655970, 'Château Latour Grand Vin Pauillac (Premier Grand Cru Classé) 2000', 'Château Latour ', 2107, 4.6000000000000005, 38521.0)]

,name,id,name,winery_name,winery_id,ratings_avg,ratings_cnt
0,Sassicaia,5078,Tenuta San Guido Sassicaia 2005,Tenuta San Guido,1413,4.600000,107646.000000
1,Brut Champagne,86684,Dom Pérignon Brut Champagne 2000,Dom Pérignon,212823,4.625000,95089.750000
2,60 Sessantanni Old Vines Primitivo di Manduria,11890,San Marzano 60 Sessantanni Old Vines Primitivo...,San Marzano,55648,4.500000,94289.000000
3,Special Selection Cabernet Sauvignon,66294,Caymus Special Selection Cabernet Sauvignon 1997,Caymus,1301,4.666667,80138.666667
4,Tignanello,1652,Antinori Tignanello 2005,Antinori,1252,4.505000,71223.800000
5,Ribera del Duero,77171,Alión Ribera del Duero 2019,Alión,11049,4.500000,69278.000000
6,Opus One,1911534,Opus One Opus One 2012,Opus One,1368,4.585714,68446.000000
7,Pauillac (Premier Grand Cru Classé),1684223,Château Mouton Rothschild Pauillac (Premier Gr...,Château Mouton Rothschild,64252,4.550000,62429.500000
8,Unico,77137,Vega Sicilia Unico 2012,Vega Sicilia,11050,4.666667,49002.166667
9,Almaviva,4086,Almaviva Almaviva 2014,Almaviva,17605,4.600000,48075.000000
10,Bolgheri Superiore,22447,Ornellaia Bolgheri Superiore 2006,Ornellaia,7941,4.585714,46344.928571
11,Sauternes,1153863,Château d'Yquem Sauternes 2005,Château d'Yquem,8028,4.700000,44126.000000
12,Château Margaux (Premier Grand Cru Classé),1127795,Château Margaux Château Margaux (Premier Grand...,Château Margaux,1319,4.586667,43420.066667
13,Grand Vin Pauillac (Premier Grand Cru Classé),1655970,Château Latour Grand Vin Pauillac (Premier Gra...,Château Latour,2107,4.600000,38521.000000

In [14]:
# 5a - Best 5 wines per type of grapes - most common grapes world wide
query5a = ("""
SELECT  DISTINCT 
        grapes.name,
        most_used_grapes_per_country.grape_id,
        most_used_grapes_per_country.wines_count AS grapes_count
                
FROM    most_used_grapes_per_country
        JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
ORDER BY grapes_count DESC
LIMIT 3

""")
cursor.execute(query5a)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5a, connexion)
df

Number of rows: 3
[('Cabernet Sauvignon', 2, 801751), ('Chardonnay', 5, 604208), ('Pinot Noir', 14, 572334)]

                 name  grape_id  grapes_count
0  Cabernet Sauvignon         2        801751
1          Chardonnay         5        604208
2          Pinot Noir        14        572334

In [16]:
# 5b - Best 5 wines per type of grapes -  Country list related to  most common grapes world wide
query5b = ("""

WITH most_common_grapes_WW AS (
        SELECT  DISTINCT 
                grapes.name,
                most_used_grapes_per_country.grape_id,
                most_used_grapes_per_country.wines_count AS grapes_count
               
        FROM    most_used_grapes_per_country
                JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
        ORDER BY grapes_count DESC
        LIMIT 3
)          
SELECT   
        most_used_grapes_per_country.grape_id AS grape_id,
        most_used_grapes_per_country.country_code as country_code
                   
FROM    most_used_grapes_per_country
WHERE   grape_id IN (SELECT grape_id FROM most_common_grapes_WW)
GROUP BY grape_id, country_code

           
 

""")
cursor.execute(query5b)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5b, connexion)
df

Number of rows: 21
[(2, 'ar'), (2, 'au'), (2, 'cl'), (2, 'es'), (2, 'gr'), (2, 'hr'), (2, 'hu'), (2, 'il'), (2, 'md'), (2, 'ro'), (2, 'us'), (2, 'za'), (5, 'ar'), (5, 'au'), (5, 'fr'), (5, 'it'), (5, 'md'), (5, 'us'), (14, 'ch'), (14, 'fr'), (14, 'us')]

    grape_id country_code
0          2           ar
1          2           au
2          2           cl
3          2           es
4          2           gr
5          2           hr
6          2           hu
7          2           il
8          2           md
9          2           ro
10         2           us
11         2           za
12         5           ar
13         5           au
14         5           fr
15         5           it
16         5           md
17         5           us
18        14           ch
19        14           fr
20        14           us

In [55]:
# 5c - Best 5 wines per type of grapes -  region list  for countries related to most common grapes WW
query5c = ("""

WITH countries_most_common_grapes AS (
    WITH most_common_grapes_WW AS (
            SELECT  DISTINCT 
                    grapes.name,
                    most_used_grapes_per_country.grape_id,
                    most_used_grapes_per_country.wines_count AS grapes_count
                
            FROM    most_used_grapes_per_country
                    JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
            ORDER BY grapes_count DESC
            LIMIT 3
    )          
    SELECT   
            most_used_grapes_per_country.grape_id AS grape_id,
            most_used_grapes_per_country.country_code as country_code
                    
    FROM    most_used_grapes_per_country
    WHERE   grape_id IN (SELECT grape_id FROM most_common_grapes_WW)
    GROUP BY grape_id, country_code
)
           
SELECT
    regions.name AS region_name,
    regions.id AS region_id,
    regions.country_code AS region_country_code,
    countries_most_common_grapes.country_code AS prev_country_code,
    countries_most_common_grapes.grape_id AS grape_id
    
    
FROM    
    regions
    JOIN countries_most_common_grapes ON regions.country_code = countries_most_common_grapes.country_code
    
ORDER BY grape_id, region_id, region_country_code

           
        
""")


cursor.execute(query5c)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5c, connexion)
df

Number of rows: 410
[('South Australia', 7, 'au', 'au', 2), ('California', 24, 'us', 'us', 2), ('Napa Valley', 25, 'us', 'us', 2), ('Sonoma County', 26, 'us', 'us', 2), ('Oakville', 42, 'us', 'us', 2), ('Willamette Valley', 51, 'us', 'us', 2), ('Yamhill County', 55, 'us', 'us', 2), ('Lodi', 65, 'us', 'us', 2), ('Howell Mountain', 85, 'us', 'us', 2), ('Santa Cruz Mountains', 86, 'us', 'us', 2), ('Stags Leap District', 88, 'us', 'us', 2), ('Calistoga', 91, 'us', 'us', 2), ('Russian River Valley', 94, 'us', 'us', 2), ('Los Carneros', 96, 'us', 'us', 2), ('Sta. Rita Hills', 99, 'us', 'us', 2), ('Alexander Valley', 100, 'us', 'us', 2), ('Rutherford', 105, 'us', 'us', 2), ('Walla Walla Valley', 324, 'us', 'us', 2), ('Columbia Valley', 327, 'us', 'us', 2), ('Barossa Valley', 397, 'au', 'au', 2), ('Ribera del Duero', 405, 'es', 'es', 2), ('Cachapoal Valley', 411, 'cl', 'cl', 2), ('Margaret River', 425, 'au', 'au', 2), ('Toro', 430, 'es', 'es', 2), ('Clare Valley', 444, 'au', 'au', 2), ('Mendoza', 454, 'ar', 'ar', 2), ('Priorat', 463, 'es', 'es', 2), ('Campo de Borja', 478, 'es', 'es', 2), ('Montilla-Moriles', 485, 'es', 'es', 2), ('Rioja', 492, 'es', 'es', 2), ('Stellenbosch', 533, 'za', 'za', 2), ('Franschhoek', 534, 'za', 'za', 2), ('Tokaj', 541, 'hu', 'hu', 2), ('Jumilla', 544, 'es', 'es', 2), ('Galilee', 550, 'il', 'il', 2), ('Paarl', 557, 'za', 'za', 2), ('Central Valley', 593, 'cl', 'cl', 2), ('Constantia', 625, 'za', 'za', 2), ('Bierzo', 628, 'es', 'es', 2), ('Penedès', 631, 'es', 'es', 2), ('Paso Robles', 684, 'us', 'us', 2), ('Curico Valley', 700, 'cl', 'cl', 2), ('Uco Valley', 713, 'ar', 'ar', 2), ('Maipo Valley', 721, 'cl', 'cl', 2), ('Dundee Hills', 726, 'us', 'us', 2), ('Colchagua Valley', 737, 'cl', 'cl', 2), ('Patagonia', 755, 'ar', 'ar', 2), ('Knights Valley', 758, 'us', 'us', 2), ('Salta', 770, 'ar', 'ar', 2), ('Montsant', 775, 'es', 'es', 2), ('Andalucía', 825, 'es', 'es', 2), ('Vino de España', 839, 'es', 'es', 2), ('Western Cape', 853, 'za', 'za', 2), ('Santa Barbara County', 857, 'us', 'us', 2), ('Rio Negro', 858, 'ar', 'ar', 2), ('Barossa', 870, 'au', 'au', 2), ('Epanomi', 926, 'gr', 'gr', 2), ('Dealu Mare', 974, 'ro', 'ro', 2), ('South Eastern', 1124, 'md', 'md', 2), ('Tulbagh', 1364, 'za', 'za', 2), ('Moldova', 1437, 'md', 'md', 2), ('Aconcagua Valley', 1573, 'cl', 'cl', 2), ('Srednja I Juzna Dalmacija', 1575, 'hr', 'hr', 2), ('Agrelo', 1596, 'ar', 'ar', 2), ('Perdriel', 1600, 'ar', 'ar', 2), ('Tupungato', 1610, 'ar', 'ar', 2), ('Cava', 1706, 'es', 'es', 2), ('Mallorca', 1723, 'es', 'es', 2), ('Rueda', 1729, 'es', 'es', 2), ('Valdeorras', 1735, 'es', 'es', 2), ('El Terrerazo', 1744, 'es', 'es', 2), ('Empordà', 1786, 'es', 'es', 2), ('Sonoma Coast', 1930, 'us', 'us', 2), ('Fort Ross-Seaview', 1931, 'us', 'us', 2), ('Puente Alto', 3068, 'cl', 'cl', 2), ('Fthiotida', 3436, 'gr', 'gr', 2), ('Pedro Ximénez Sherry (PX)', 3505, 'es', 'es', 2), ('Palo Cortado Sherry', 3506, 'es', 'es', 2), ('Paraje Altamira', 4262, 'ar', 'ar', 2), ('Greyton', 4363, 'za', 'za', 2), ('Cream Sherry', 4595, 'es', 'es', 2), ('Apalta Valley', 4670, 'cl', 'cl', 2), ('South Australia', 7, 'au', 'au', 5), ('California', 24, 'us', 'us', 5), ('Napa Valley', 25, 'us', 'us', 5), ('Sonoma County', 26, 'us', 'us', 5), ('Oakville', 42, 'us', 'us', 5), ('Willamette Valley', 51, 'us', 'us', 5), ('Yamhill County', 55, 'us', 'us', 5), ('Lodi', 65, 'us', 'us', 5), ('Howell Mountain', 85, 'us', 'us', 5), ('Santa Cruz Mountains', 86, 'us', 'us', 5), ('Stags Leap District', 88, 'us', 'us', 5), ('Calistoga', 91, 'us', 'us', 5), ('Russian River Valley', 94, 'us', 'us', 5), ('Los Carneros', 96, 'us', 'us', 5), ('Sta. Rita Hills', 99, 'us', 'us', 5), ('Alexander Valley', 100, 'us', 'us', 5), ('Rutherford', 105, 'us', 'us', 5), ('Walla Walla Valley', 324, 'us', 'us', 5), ('Columbia Valley', 327, 'us', 'us', 5), ('Bordeaux', 383, 'fr', 'fr', 5), ('Margaux', 384, 'fr', 'fr', 5), ('Bourgogne', 385, 'fr', 'fr', 5), ('Alsace', 387, 'fr', 'fr', 5), ('Piemonte', 389, 'it', 'it', 5), ('Pauillac', 393, 'fr', 'fr', 5), ('Toscana', 394, 'it', 'it', 5), ('Barossa Valley', 397, 'au', 'au', 5), ('Saint-Julien', 399, 'fr', 'fr', 5), ('Châteauneuf-du-Pape', 401, 'fr', 'fr', 5), ('Champagne', 409, 'fr', 'fr', 5), ('Margaret River', 425, 'au', 'au', 5), ('Côtes-du-Rhône', 429, 'fr', 'fr', 5), ('Sauternes', 432, 'fr', 'fr', 5), ('Saint-Joseph', 439, 'fr', 'fr', 5), ('Campania', 443, 'it', 'it', 5), ('Clare Valley', 444, 'au', 'au', 5), ('Lazio', 445, 'it', 'it', 5), ('Graves', 451, 'fr', 'fr', 5), ('Côtes de Bourg', 452, 'fr', 'fr', 5), ('Mendoza', 454, 'ar', 'ar', 5), ('Saint-Estèphe', 456, 'fr', 'fr', 5), ('Veneto', 460, 'it', 'it', 5), ('Pessac-Léognan', 471, 'fr', 'fr', 5), ('Valpolicella', 483, 'it', 'it', 5), ('Umbria', 488, 'it', 'it', 5), ('Vacqueyras', 500, 'fr', 'fr', 5), ('Barolo', 504, 'it', 'it', 5), ('Hermitage', 535, 'fr', 'fr', 5), ('Puglia', 548, 'it', 'it', 5), ('Pomerol', 555, 'fr', 'fr', 5), ('Trentino-Alto Adige', 576, 'it', 'it', 5), ('Terre Siciliane', 579, 'it', 'it', 5), ('Langhe', 613, 'it', 'it', 5), ('Abruzzo', 619, 'it', 'it', 5), ('Sancerre', 635, 'fr', 'fr', 5), ('Chassagne-Montrachet', 636, 'fr', 'fr', 5), ('Salento', 640, 'it', 'it', 5), ('Friuli-Venezia Giulia', 642, 'it', 'it', 5), ('Bandol', 648, 'fr', 'fr', 5), ('Südtirol - Alto Adige', 661, 'it', 'it', 5), ('Bolgheri', 673, 'it', 'it', 5), ('Paso Robles', 684, 'us', 'us', 5), ('Côte-Rôtie', 693, 'fr', 'fr', 5), ('Marche', 712, 'it', 'it', 5), ('Uco Valley', 713, 'ar', 'ar', 5), ('Barbaresco', 722, 'it', 'it', 5), ('Dundee Hills', 726, 'us', 'us', 5), ('Valtellina', 746, 'it', 'it', 5), ('Patagonia', 755, 'ar', 'ar', 5), ('Knights Valley', 758, 'us', 'us', 5), ('Pouilly-Fumé', 759, 'fr', 'fr', 5), ('Salta', 770, 'ar', 'ar', 5), ('Saumur-Champigny', 773, 'fr', 'fr', 5), ('Château-Grillet', 782, 'fr', 'fr', 5), ('Condrieu', 801, 'fr', 'fr', 5), ('Rosso Piceno', 808, 'it', 'it', 5), ('Franciacorta', 817, 'it', 'it', 5), ('Saint-Émilion Grand Cru', 827, 'fr', 'fr', 5), ('Santa Barbara County', 857, 'us', 'us', 5), ('Rio Negro', 858, 'ar', 'ar', 5), ('Emilia-Romagna', 862, 'it', 'it', 5), ('Barossa', 870, 'au', 'au', 5), ("Valle d'Aosta", 903, 'it', 'it', 5), ('Trentino', 907, 'it', 'it', 5), ('South Eastern', 1124, 'md', 'md', 5), ('Moldova', 1437, 'md', 'md', 5), ('Agrelo', 1596, 'ar', 'ar', 5), ('Perdriel', 1600, 'ar', 'ar', 5), ('Tupungato', 1610, 'ar', 'ar', 5), ('Brunello di Montalcino', 1796, 'it', 'it', 5), ('Chianti Classico', 1798, 'it', 'it', 5), ('Vino Nobile di Montepulciano', 1801, 'it', 'it', 5), ('Montefalco Sagrantino', 1802, 'it', 'it', 5), ('Amarone della Valpolicella', 1804, 'it', 'it', 5), ('Recioto della Valpolicella', 1808, 'it', 'it', 5), ('Gattinara', 1819, 'it', 'it', 5), ("Barbera d'Asti", 1829, 'it', 'it', 5), ('Valtellina Superiore', 1836, 'it', 'it', 5), ('Sforzato della Valtellina', 1837, 'it', 'it', 5), ('Taurasi', 1843, 'it', 'it', 5), ('Greco di Tufo', 1844, 'it', 'it', 5), ('Sonoma Coast', 1930, 'us', 'us', 5), ('Fort Ross-Seaview', 1931, 'us', 'us', 5), ('Barsac', 2141, 'fr', 'fr', 5), ('Chambertin Grand Cru', 2201, 'fr', 'fr', 5), ('Chambertin-Clos de Bèze Grand Cru', 2202, 'fr', 'fr', 5), ('Chapelle-Chambertin Grand Cru', 2203, 'fr', 'fr', 5), ('Charmes-Chambertin Grand Cru', 2204, 'fr', 'fr', 5), ('Griotte-Chambertin Grand Cru', 2205, 'fr', 'fr', 5), ('Mazis-Chambertin Grand Cru', 2207, 'fr', 'fr', 5), ('Morey-Saint-Denis', 2209, 'fr', 'fr', 5), ('Clos de la Roche Grand Cru', 2211, 'fr', 'fr', 5), ('Clos de Lambrays Grand Cru', 2212, 'fr', 'fr', 5), ('Clos de Tart Grand Cru', 2213, 'fr', 'fr', 5), ('Clos Saint-Denis Grand Cru', 2214, 'fr', 'fr', 5), ('Chambolle-Musigny', 2215, 'fr', 'fr', 5), ('Bonnes-Mares Grand Cru', 2216, 'fr', 'fr', 5), ('Musigny Grand Cru', 2217, 'fr', 'fr', 5), ('Clos Vougeot Grand Cru', 2219, 'fr', 'fr', 5), ('Échezeaux Grand Cru', 2221, 'fr', 'fr', 5), ('Grands-Échezeaux Grand Cru', 2222, 'fr', 'fr', 5), ('Vosne-Romanée', 2223, 'fr', 'fr', 5), ('La Grande Rue Grand Cru', 2224, 'fr', 'fr', 5), ('Richebourg Grand Cru', 2227, 'fr', 'fr', 5), ('Romanée-Saint-Vivant Grand Cru', 2229, 'fr', 'fr', 5), ('Nuits-Saint-Georges', 2230, 'fr', 'fr', 5), ('Corton-Charlemagne Grand Cru', 2236, 'fr', 'fr', 5), ('Corton Grand Cru', 2237, 'fr', 'fr', 5), ('Meursault', 2246, 'fr', 'fr', 5), ('Puligny-Montrachet', 2248, 'fr', 'fr', 5), ('Savennières-Coulée-de-Serrant', 2300, 'fr', 'fr', 5), ('Côtes du Jura', 2410, 'fr', 'fr', 5), ('Trento', 2471, 'it', 'it', 5), ("Barbera d'Alba", 2585, 'it', 'it', 5), ("Nebbiolo d'Alba", 2614, 'it', 'it', 5), ('Verdicchio dei Castelli di Jesi', 2660, 'it', 'it', 5), ('Orcia', 2679, 'it', 'it', 5), ('Vin Santo di Montepulciano', 2693, 'it', 'it', 5), ("Montepulciano d'Abruzzo", 2734, 'it', 'it', 5), ("Trebbiano d'Abruzzo", 2735, 'it', 'it', 5), ('Primitivo di Manduria', 2753, 'it', 'it', 5), ('Cannonau di Sardegna', 2779, 'it', 'it', 5), ('Contessa Entellina', 2810, 'it', 'it', 5), ('Marsala', 2818, 'it', 'it', 5), ('Venezia Giulia', 2869, 'it', 'it', 5), ('Isola dei Nuraghi', 2894, 'it', 'it', 5), ('Colli della Toscana Centrale', 2915, 'it', 'it', 5), ('Maremma Toscana', 2916, 'it', 'it', 5), ('Bolgheri Sassicaia', 2999, 'it', 'it', 5), ('Vin de France', 3009, 'fr', 'fr', 5), ('Vosne-Romanée Premier Cru', 3015, 'fr', 'fr', 5), ('Chambolle-Musigny Premier Cru', 3016, 'fr', 'fr', 5), ('Pommard Premier Cru', 3021, 'fr', 'fr', 5), ('Puligny-Montrachet Premier Cru', 3022, 'fr', 'fr', 5), ('Chassagne-Montrachet Premier Cru', 3024, 'fr', 'fr', 5), ('Bâtard-Montrachet Grand Cru', 3036, 'fr', 'fr', 5), ('Chevalier-Montrachet Grand Cru', 3037, 'fr', 'fr', 5), ('Montrachet Grand Cru', 3041, 'fr', 'fr', 5), ('Hérault', 3077, 'fr', 'fr', 5), ('Rosso Veronese', 3107, 'it', 'it', 5), ('Bienvenues-Bâtard-Montrachet Grand Cru', 3138, 'fr', 'fr', 5), ('Valpolicella Classico', 3235, 'it', 'it', 5), ('Amarone della Valpolicella Classico', 3237, 'it', 'it', 5), ('Amarone della Valpolicella Valpantena', 3238, 'it', 'it', 5), ('Luberon', 3265, 'fr', 'fr', 5), ('Pézenas', 3336, 'fr', 'fr', 5), ('Recioto della Valpolicella Classico', 3344, 'it', 'it', 5), ('Bolgheri Superiore', 3345, 'it', 'it', 5), ("Vosne-Romanée 1er Cru 'Malconsorts'", 3510, 'fr', 'fr', 5), ("Vosne-Romanée 1er Cru 'Les Beaux Monts'", 3516, 'fr', 'fr', 5), ("Vosne-Romanée 1er Cru 'Les Suchots'", 3521, 'fr', 'fr', 5), ("Chablis Grand Cru 'Les Clos'", 3558, 'fr', 'fr', 5), ("Chablis Grand Cru 'Valmur'", 3560, 'fr', 'fr', 5), ("Beaune 1er Cru 'Le Clos des Mouches'", 3601, 'fr', 'fr', 5), ("Chambolle-Musigny 1er Cru 'Les Amoureuses'", 3678, 'fr', 'fr', 5), ("Chambolle-Musigny 1er Cru 'Les Feusselottes'", 3687, 'fr', 'fr', 5), ("Chambolle-Musigny 1er Cru 'Les Sentiers'", 3695, 'fr', 'fr', 5), ("Chassagne-Montrachet 1er Cru 'La Maltroie'", 3720, 'fr', 'fr', 5), ("Chassagne-Montrachet 1er Cru 'Morgeot'", 3745, 'fr', 'fr', 5), ("Gevrey-Chambertin 1er Cru 'Aux Combottes'", 3763, 'fr', 'fr', 5), ("Meursault 1er Cru 'Charmes'", 3864, 'fr', 'fr', 5), ("Meursault 1er Cru 'Genevrières'", 3866, 'fr', 'fr', 5), ("Meursault 1er Cru 'Perrières'", 3877, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Aux Boudots'", 3967, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Aux Murgers'", 3972, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Aux Thorey'", 3974, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Clos des Corvées'", 3981, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Clos des Porrets Saint-Georges'", 3985, 'fr', 'fr', 5), ("Puligny-Montrachet 1er Cru 'Champ Gain'", 4048, 'fr', 'fr', 5), ("Puligny-Montrachet 1er Cru 'La Garenne'", 4053, 'fr', 'fr', 5), ("Puligny-Montrachet 1er Cru 'La Truffière'", 4054, 'fr', 'fr', 5), ("Volnay 1er Cru 'Les Caillerets'", 4171, 'fr', 'fr', 5), ('Costa Toscana', 4240, 'it', 'it', 5), ('Paraje Altamira', 4262, 'ar', 'ar', 5), ('Charlemagne Grand Cru', 4311, 'fr', 'fr', 5), ('Passito di Pantelleria', 4615, 'it', 'it', 5), ("Champagne Grand Cru 'Aÿ'", 4621, 'fr', 'fr', 5), ("Champagne Grand Cru 'Ambonnay'", 4624, 'fr', 'fr', 5), ("Champagne Grand Cru 'Avize'", 4625, 'fr', 'fr', 5), ("Champagne Grand Cru 'Le Mesnil-sur-Oger'", 4631, 'fr', 'fr', 5), ('Champagne Grand Cru', 4638, 'fr', 'fr', 5), ('Champagne Premier Cru', 4639, 'fr', 'fr', 5), ('California', 24, 'us', 'us', 14), ('Napa Valley', 25, 'us', 'us', 14), ('Sonoma County', 26, 'us', 'us', 14), ('Oakville', 42, 'us', 'us', 14), ('Willamette Valley', 51, 'us', 'us', 14), ('Yamhill County', 55, 'us', 'us', 14), ('Lodi', 65, 'us', 'us', 14), ('Howell Mountain', 85, 'us', 'us', 14), ('Santa Cruz Mountains', 86, 'us', 'us', 14), ('Stags Leap District', 88, 'us', 'us', 14), ('Calistoga', 91, 'us', 'us', 14), ('Russian River Valley', 94, 'us', 'us', 14), ('Los Carneros', 96, 'us', 'us', 14), ('Sta. Rita Hills', 99, 'us', 'us', 14), ('Alexander Valley', 100, 'us', 'us', 14), ('Rutherford', 105, 'us', 'us', 14), ('Walla Walla Valley', 324, 'us', 'us', 14), ('Columbia Valley', 327, 'us', 'us', 14), ('Bordeaux', 383, 'fr', 'fr', 14), ('Margaux', 384, 'fr', 'fr', 14), ('Bourgogne', 385, 'fr', 'fr', 14), ('Alsace', 387, 'fr', 'fr', 14), ('Pauillac', 393, 'fr', 'fr', 14), ('Saint-Julien', 399, 'fr', 'fr', 14), ('Châteauneuf-du-Pape', 401, 'fr', 'fr', 14), ('Champagne', 409, 'fr', 'fr', 14), ('Côtes-du-Rhône', 429, 'fr', 'fr', 14), ('Sauternes', 432, 'fr', 'fr', 14), ('Saint-Joseph', 439, 'fr', 'fr', 14), ('Graves', 451, 'fr', 'fr', 14), ('Côtes de Bourg', 452, 'fr', 'fr', 14), ('Saint-Estèphe', 456, 'fr', 'fr', 14), ('Pessac-Léognan', 471, 'fr', 'fr', 14), ('Vacqueyras', 500, 'fr', 'fr', 14), ('Hermitage', 535, 'fr', 'fr', 14), ('Pomerol', 555, 'fr', 'fr', 14), ('Sancerre', 635, 'fr', 'fr', 14), ('Chassagne-Montrachet', 636, 'fr', 'fr', 14), ('Bandol', 648, 'fr', 'fr', 14), ('Paso Robles', 684, 'us', 'us', 14), ('Côte-Rôtie', 693, 'fr', 'fr', 14), ('Dundee Hills', 726, 'us', 'us', 14), ('Knights Valley', 758, 'us', 'us', 14), ('Pouilly-Fumé', 759, 'fr', 'fr', 14), ('Saumur-Champigny', 773, 'fr', 'fr', 14), ('Château-Grillet', 782, 'fr', 'fr', 14), ('Condrieu', 801, 'fr', 'fr', 14), ('Saint-Émilion Grand Cru', 827, 'fr', 'fr', 14), ('Santa Barbara County', 857, 'us', 'us', 14), ('Valais', 959, 'ch', 'ch', 14), ('Ticino', 1414, 'ch', 'ch', 14), ('Sonoma Coast', 1930, 'us', 'us', 14), ('Fort Ross-Seaview', 1931, 'us', 'us', 14), ('Barsac', 2141, 'fr', 'fr', 14), ('Chambertin Grand Cru', 2201, 'fr', 'fr', 14), ('Chambertin-Clos de Bèze Grand Cru', 2202, 'fr', 'fr', 14), ('Chapelle-Chambertin Grand Cru', 2203, 'fr', 'fr', 14), ('Charmes-Chambertin Grand Cru', 2204, 'fr', 'fr', 14), ('Griotte-Chambertin Grand Cru', 2205, 'fr', 'fr', 14), ('Mazis-Chambertin Grand Cru', 2207, 'fr', 'fr', 14), ('Morey-Saint-Denis', 2209, 'fr', 'fr', 14), ('Clos de la Roche Grand Cru', 2211, 'fr', 'fr', 14), ('Clos de Lambrays Grand Cru', 2212, 'fr', 'fr', 14), ('Clos de Tart Grand Cru', 2213, 'fr', 'fr', 14), ('Clos Saint-Denis Grand Cru', 2214, 'fr', 'fr', 14), ('Chambolle-Musigny', 2215, 'fr', 'fr', 14), ('Bonnes-Mares Grand Cru', 2216, 'fr', 'fr', 14), ('Musigny Grand Cru', 2217, 'fr', 'fr', 14), ('Clos Vougeot Grand Cru', 2219, 'fr', 'fr', 14), ('Échezeaux Grand Cru', 2221, 'fr', 'fr', 14), ('Grands-Échezeaux Grand Cru', 2222, 'fr', 'fr', 14), ('Vosne-Romanée', 2223, 'fr', 'fr', 14), ('La Grande Rue Grand Cru', 2224, 'fr', 'fr', 14), ('Richebourg Grand Cru', 2227, 'fr', 'fr', 14), ('Romanée-Saint-Vivant Grand Cru', 2229, 'fr', 'fr', 14), ('Nuits-Saint-Georges', 2230, 'fr', 'fr', 14), ('Corton-Charlemagne Grand Cru', 2236, 'fr', 'fr', 14), ('Corton Grand Cru', 2237, 'fr', 'fr', 14), ('Meursault', 2246, 'fr', 'fr', 14), ('Puligny-Montrachet', 2248, 'fr', 'fr', 14), ('Savennières-Coulée-de-Serrant', 2300, 'fr', 'fr', 14), ('Côtes du Jura', 2410, 'fr', 'fr', 14), ('Vin de France', 3009, 'fr', 'fr', 14), ('Vosne-Romanée Premier Cru', 3015, 'fr', 'fr', 14), ('Chambolle-Musigny Premier Cru', 3016, 'fr', 'fr', 14), ('Pommard Premier Cru', 3021, 'fr', 'fr', 14), ('Puligny-Montrachet Premier Cru', 3022, 'fr', 'fr', 14), ('Chassagne-Montrachet Premier Cru', 3024, 'fr', 'fr', 14), ('Bâtard-Montrachet Grand Cru', 3036, 'fr', 'fr', 14), ('Chevalier-Montrachet Grand Cru', 3037, 'fr', 'fr', 14), ('Montrachet Grand Cru', 3041, 'fr', 'fr', 14), ('Hérault', 3077, 'fr', 'fr', 14), ('Bienvenues-Bâtard-Montrachet Grand Cru', 3138, 'fr', 'fr', 14), ('Luberon', 3265, 'fr', 'fr', 14), ('Pézenas', 3336, 'fr', 'fr', 14), ("Vosne-Romanée 1er Cru 'Malconsorts'", 3510, 'fr', 'fr', 14), ("Vosne-Romanée 1er Cru 'Les Beaux Monts'", 3516, 'fr', 'fr', 14), ("Vosne-Romanée 1er Cru 'Les Suchots'", 3521, 'fr', 'fr', 14), ("Chablis Grand Cru 'Les Clos'", 3558, 'fr', 'fr', 14), ("Chablis Grand Cru 'Valmur'", 3560, 'fr', 'fr', 14), ("Beaune 1er Cru 'Le Clos des Mouches'", 3601, 'fr', 'fr', 14), ("Chambolle-Musigny 1er Cru 'Les Amoureuses'", 3678, 'fr', 'fr', 14), ("Chambolle-Musigny 1er Cru 'Les Feusselottes'", 3687, 'fr', 'fr', 14), ("Chambolle-Musigny 1er Cru 'Les Sentiers'", 3695, 'fr', 'fr', 14), ("Chassagne-Montrachet 1er Cru 'La Maltroie'", 3720, 'fr', 'fr', 14), ("Chassagne-Montrachet 1er Cru 'Morgeot'", 3745, 'fr', 'fr', 14), ("Gevrey-Chambertin 1er Cru 'Aux Combottes'", 3763, 'fr', 'fr', 14), ("Meursault 1er Cru 'Charmes'", 3864, 'fr', 'fr', 14), ("Meursault 1er Cru 'Genevrières'", 3866, 'fr', 'fr', 14), ("Meursault 1er Cru 'Perrières'", 3877, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Aux Boudots'", 3967, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Aux Murgers'", 3972, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Aux Thorey'", 3974, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Clos des Corvées'", 3981, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Clos des Porrets Saint-Georges'", 3985, 'fr', 'fr', 14), ("Puligny-Montrachet 1er Cru 'Champ Gain'", 4048, 'fr', 'fr', 14), ("Puligny-Montrachet 1er Cru 'La Garenne'", 4053, 'fr', 'fr', 14), ("Puligny-Montrachet 1er Cru 'La Truffière'", 4054, 'fr', 'fr', 14), ("Volnay 1er Cru 'Les Caillerets'", 4171, 'fr', 'fr', 14), ('Charlemagne Grand Cru', 4311, 'fr', 'fr', 14), ("Champagne Grand Cru 'Aÿ'", 4621, 'fr', 'fr', 14), ("Champagne Grand Cru 'Ambonnay'", 4624, 'fr', 'fr', 14), ("Champagne Grand Cru 'Avize'", 4625, 'fr', 'fr', 14), ("Champagne Grand Cru 'Le Mesnil-sur-Oger'", 4631, 'fr', 'fr', 14), ('Champagne Grand Cru', 4638, 'fr', 'fr', 14), ('Champagne Premier Cru', 4639, 'fr', 'fr', 14)]

,region_name,region_id,region_country_code,prev_country_code,grape_id
0,South Australia,7,au,au,2
1,California,24,us,us,2
2,Napa Valley,25,us,us,2
3,Sonoma County,26,us,us,2
4,Oakville,42,us,us,2
...,...,...,...,...,...
405,Champagne Grand Cru 'Ambonnay',4624,fr,fr,14
406,Champagne Grand Cru 'Avize',4625,fr,fr,14
407,Champagne Grand Cru 'Le Mesnil-sur-Oger',4631,fr,fr,14
408,Champagne Grand Cru,4638,fr,fr,14
409,Champagne Premier Cru,4639,fr,fr,14

In [4]:
# 5c - Best 5 wines per type of grapes - all together and extracting the 5 best for each grapes from all region in  the region list
query5d = ("""

WITH countries_most_common_grapes AS (
    WITH most_common_grapes_WW AS (
            SELECT  DISTINCT 
                    grapes.name,
                    most_used_grapes_per_country.grape_id,
                    most_used_grapes_per_country.wines_count AS grapes_count
                
            FROM    most_used_grapes_per_country
                    JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
            ORDER BY grapes_count DESC
            LIMIT 3
    )          
    SELECT   
            most_used_grapes_per_country.grape_id AS grape_id,
            most_used_grapes_per_country.country_code as country_code
                    
    FROM    most_used_grapes_per_country
    WHERE   grape_id IN (SELECT grape_id FROM most_common_grapes_WW)
    GROUP BY grape_id, country_code
),

ranked_wines AS ( 
        SELECT
                countries_most_common_grapes.grape_id AS grape_id,
                ROW_NUMBER() OVER(
                        PARTITION BY countries_most_common_grapes.grape_id 
                        ORDER BY wines.ratings_average DESC, 
                        wines.ratings_count DESC
                        ) as rn,
                wines.name as wines_name,
                wines.ratings_average AS ratings,
                wines.ratings_count as ratings_count,
                regions.name AS region_name,
                regions.country_code AS region_country_code
                --countries_most_common_grapes.country_code AS prev_country_code
                --wines.region_id as wines_region_id,
                --regions.id AS region_id,
                
                   
                
        FROM    regions
                JOIN countries_most_common_grapes ON regions.country_code = countries_most_common_grapes.country_code
                JOIN wines ON regions.id = wines.region_id
)
           
SELECT * FROM ranked_wines WHERE rn <= 5
        
""")


cursor.execute(query5d)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5d, connexion)
df

Number of rows: 15
[(2, 1, 'Cabernet Sauvignon', 4.8, 2941, 'Rutherford', 'us'), (2, 2, 'Mágico', 4.8, 146, 'Rioja', 'es'), (2, 3, 'Unico', 4.7, 45140, 'Ribera del Duero', 'es'), (2, 4, 'Special Selection Cabernet Sauvignon', 4.7, 41236, 'Napa Valley', 'us'), (2, 5, 'Grange', 4.7, 24356, 'South Australia', 'au'), (5, 1, 'Cabernet Sauvignon', 4.8, 2941, 'Rutherford', 'us'), (5, 2, 'Amarone della Valpolicella Classico Riserva', 4.8, 587, 'Amarone della Valpolicella Classico', 'it'), (5, 3, 'Fratini Bolgheri Superiore', 4.8, 153, 'Bolgheri Superiore', 'it'), (5, 4, 'Cristal Rosé Vinothèque', 4.8, 88, 'Champagne', 'fr'), (5, 5, 'Batard-Montrachet Grand Cru', 4.8, 34, 'Bâtard-Montrachet Grand Cru', 'fr'), (14, 1, 'Cabernet Sauvignon', 4.8, 2941, 'Rutherford', 'us'), (14, 2, 'Cristal Rosé Vinothèque', 4.8, 88, 'Champagne', 'fr'), (14, 3, 'Batard-Montrachet Grand Cru', 4.8, 34, 'Bâtard-Montrachet Grand Cru', 'fr'), (14, 4, 'Sauternes', 4.7, 44126, 'Sauternes', 'fr'), (14, 5, 'Special Selection Cabernet Sauvignon', 4.7, 41236, 'Napa Valley', 'us')]

,grape_id,rn,wines_name,ratings,ratings_count,region_name,region_country_code
0,2,1,Cabernet Sauvignon,4.8,2941,Rutherford,us
1,2,2,Mágico,4.8,146,Rioja,es
2,2,3,Unico,4.7,45140,Ribera del Duero,es
3,2,4,Special Selection Cabernet Sauvignon,4.7,41236,Napa Valley,us
4,2,5,Grange,4.7,24356,South Australia,au
5,5,1,Cabernet Sauvignon,4.8,2941,Rutherford,us
6,5,2,Amarone della Valpolicella Classico Riserva,4.8,587,Amarone della Valpolicella Classico,it
7,5,3,Fratini Bolgheri Superiore,4.8,153,Bolgheri Superiore,it
8,5,4,Cristal Rosé Vinothèque,4.8,88,Champagne,fr
9,5,5,Batard-Montrachet Grand Cru,4.8,34,Bâtard-Montrachet Grand Cru,fr
10,14,1,Cabernet Sauvignon,4.8,2941,Rutherford,us
11,14,2,Cristal Rosé Vinothèque,4.8,88,Champagne,fr
12,14,3,Batard-Montrachet Grand Cru,4.8,34,Bâtard-Montrachet Grand Cru,fr
13,14,4,Sauternes,4.7,44126,Sauternes,fr
14,14,5,Special Selection Cabernet Sauvignon,4.7,41236,Napa Valley,us