In [9]:
import sqlite3
import pandas as pd
import plotly.express as px
import nbformat
import statsmodels
import plotly.graph_objects as go

# Connect to the SQLite database
connexion = sqlite3.connect('db/vivino.db')
cursor = connexion.cursor()

In [10]:
# 1a - Marketing push - price distribution
query1a = ("""
WITH price_buckets AS (
    SELECT  NTILE(10) OVER (ORDER BY price_euros) AS price_bucket,
            price_euros
    FROM    vintages
    WHERE   bottle_volume_ml = 750
)

SELECT  price_bucket,
        AVG(price_euros) AS avg_price,
        COUNT(*) AS wines_count
FROM    price_buckets
GROUP BY price_bucket  
ORDER BY price_bucket
""")

cursor.execute(query1a)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query1a, connexion)
df

Number of rows: 10
[(1, 50.46808243727597, 186), (2, 91.26720430107531, 186), (3, 131.56037634408605, 186), (4, 181.5922580645162, 186), (5, 241.4904838709678, 186), (6, 328.49162162162173, 185), (7, 446.144, 185), (8, 635.586162162162, 185), (9, 964.2643243243243, 185), (10, 2686.8456216216214, 185)]

   price_bucket    avg_price  wines_count
0             1    50.468082          186
1             2    91.267204          186
2             3   131.560376          186
3             4   181.592258          186
4             5   241.490484          186
5             6   328.491622          185
6             7   446.144000          185
7             8   635.586162          185
8             9   964.264324          185
9            10  2686.845622          185

In [11]:
# 1b - Marketing push - ratings distribution
query1b = ("""
WITH ratings_avg_buckets AS (
    SELECT  NTILE(10) OVER (ORDER BY ratings_average) AS ratings_bucket,
            ratings_average
    FROM    vintages
    WHERE   bottle_volume_ml = 750  and ratings_average > 0
)

SELECT  ratings_bucket,
        MIN(ratings_average) AS avg_ratings,
        MAX(ratings_average) AS avg_ratings,
        AVG(ratings_average) AS avg_ratings,
        COUNT(*) AS wines_count
FROM    ratings_avg_buckets
GROUP BY ratings_bucket  
ORDER BY ratings_bucket
""")

cursor.execute(query1b)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query1b, connexion)
df

Number of rows: 10
[(1, 4.4, 4.4, 4.399999999999989, 140), (2, 4.4, 4.4, 4.399999999999989, 140), (3, 4.4, 4.5, 4.437142857142854, 140), (4, 4.5, 4.5, 4.5, 140), (5, 4.5, 4.5, 4.5, 140), (6, 4.5, 4.5, 4.5, 140), (7, 4.5, 4.6, 4.593525179856127, 139), (8, 4.6, 4.6, 4.600000000000012, 139), (9, 4.6, 4.7, 4.656115107913673, 139), (10, 4.7, 4.9, 4.722302158273366, 139)]

   ratings_bucket  avg_ratings  avg_ratings  avg_ratings  wines_count
0               1          4.4          4.4     4.400000          140
1               2          4.4          4.4     4.400000          140
2               3          4.4          4.5     4.437143          140
3               4          4.5          4.5     4.500000          140
4               5          4.5          4.5     4.500000          140
5               6          4.5          4.5     4.500000          140
6               7          4.5          4.6     4.593525          139
7               8          4.6          4.6     4.600000          139
8               9          4.6          4.7     4.656115          139
9              10          4.7          4.9     4.722302          139

In [12]:
# 1c - Marketing push - ratings count distribution
query1c = ("""
WITH ratings_count_buckets AS (
    SELECT  NTILE(10) OVER (ORDER BY ratings_count) AS ratings_count_bucket,
            ratings_count
    FROM    vintages
    WHERE   bottle_volume_ml = 750
)

SELECT  ratings_count_bucket,
        MIN(ratings_count) AS ratings_count,
        MAX(ratings_count) AS ratings_count,
        AVG(ratings_count) AS ratings_count,
        COUNT(*) AS wines_count
FROM    ratings_count_buckets
        
GROUP BY ratings_count_bucket  
ORDER BY ratings_count_bucket
""")

cursor.execute(query1c)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query1c, connexion)
df

Number of rows: 10
[(1, 0, 8, 3.629032258064516, 186), (2, 8, 18, 12.688172043010752, 186), (3, 18, 39, 26.704301075268816, 186), (4, 39, 81, 56.36021505376344, 186), (5, 83, 149, 116.70430107526882, 186), (6, 149, 212, 178.71891891891892, 185), (7, 212, 309, 253.30810810810812, 185), (8, 309, 498, 393.64864864864865, 185), (9, 499, 954, 692.4918918918919, 185), (10, 959, 36681, 3299.7837837837837, 185)]

,ratings_count_bucket,ratings_count,ratings_count,ratings_count,wines_count
0,1,0,8,3.629032,186
1,2,8,18,12.688172,186
2,3,18,39,26.704301,186
3,4,39,81,56.360215,186
4,5,83,149,116.704301,186
5,6,149,212,178.718919,185
6,7,212,309,253.308108,185
7,8,309,498,393.648649,185
8,9,499,954,692.491892,185
9,10,959,36681,3299.783784,185

In [13]:
# 1d - Marketing push - final selection - add  countries
query1d = ("""
SELECT  DISTINCT
        vintages.id AS wine_id,
        vintages.name AS wine_name,
        toplists.name AS toplist_name,
        vintage_toplists_rankings.rank AS toplist_rank,
        vintages.price_euros,
        vintages.ratings_average,
        vintages.ratings_count,
        vintages.price_discount_percentage AS discount_rate
       
           
FROM    vintages
        JOIN vintage_toplists_rankings ON vintages.id = vintage_toplists_rankings.vintage_id
        JOIN toplists ON vintage_toplists_rankings.top_list_id = toplists.id
               
WHERE   
        vintages.ratings_count > 200
        AND vintages.ratings_average >= 4.6
        AND vintages.price_euros < 425
        AND vintages.bottle_volume_ml = 750
           
GROUP BY vintages.id
""")

cursor.execute(query1d)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query1d, connexion)
df

Number of rows: 10
[(1485238, 'Krug Rosé', 'top_lists.EditorialTopList.2017999.name', 6, 349.0, 4.6, 3605, None), (1776981, 'Burmester Tordiz 40 Year Old Tawny Port', "Vivino's 2020 Wine Style Awards: Portuguese Tawny Port", 1, 337.5, 4.6, 474, None), (2674920, 'Ruinart Dom Ruinart Blanc de Blancs Brut Champagne 2010', "Vivino's 2016 Wine Style Awards: French Champagne", 10, 287.0, 4.6, 465, None), (5128110, 'Giacomo Conterno Barolo Cascina Francia 2012', "Vivino's 2019 Wine Style Awards: Italian Barolo", 9, 420.0, 4.6, 559, None), (12776766, 'Cerbaiona Brunello di Montalcino 2012', "Vivino's 2019 Wine Style Awards: Italian Brunello", 8, 276.25, 4.6, 380, None), (20315417, 'Achaval-Ferrer Finca Altamira Malbec 2015', "Vivino's 2020 Wine Style Awards: Argentinian Malbec", 6, 99.95, 4.6, 666, None), (25043149, 'Cardinale Red 2014', "Vivino's 2020 Wine Style Awards: Napa Valley Bordeaux Blend", 9, 399.0, 4.6, 378, None), (85559438, 'Antinori Tignanello 2016', "Vivino's 2020 Wine Style Awards: Tuscan Red", 10, 420.0, 4.6, 13709, None), (152069724, 'Gitana Lupi Rezerva 2017', 'Bestsellers in Arizona', 15, 36.55, 4.6, 1155, None), (164942599, 'Krug Grande Cuvée', "Vivino's 2020 Wine Style Awards: French Champagne N.V.", 6, 245.0, 4.6, 28513, None)]

,wine_id,wine_name,toplist_name,toplist_rank,price_euros,ratings_average,ratings_count,discount_rate
0,1485238,Krug Rosé,top_lists.EditorialTopList.2017999.name,6,349.00,4.6,3605,None
1,1776981,Burmester Tordiz 40 Year Old Tawny Port,Vivino's 2020 Wine Style Awards: Portuguese Ta...,1,337.50,4.6,474,None
2,2674920,Ruinart Dom Ruinart Blanc de Blancs Brut Champ...,Vivino's 2016 Wine Style Awards: French Champagne,10,287.00,4.6,465,None
3,5128110,Giacomo Conterno Barolo Cascina Francia 2012,Vivino's 2019 Wine Style Awards: Italian Barolo,9,420.00,4.6,559,None
4,12776766,Cerbaiona Brunello di Montalcino 2012,Vivino's 2019 Wine Style Awards: Italian Brunello,8,276.25,4.6,380,None
5,20315417,Achaval-Ferrer Finca Altamira Malbec 2015,Vivino's 2020 Wine Style Awards: Argentinian M...,6,99.95,4.6,666,None
6,25043149,Cardinale Red 2014,Vivino's 2020 Wine Style Awards: Napa Valley B...,9,399.00,4.6,378,None
7,85559438,Antinori Tignanello 2016,Vivino's 2020 Wine Style Awards: Tuscan Red,10,420.00,4.6,13709,None
8,152069724,Gitana Lupi Rezerva 2017,Bestsellers in Arizona,15,36.55,4.6,1155,None
9,164942599,Krug Grande Cuvée,Vivino's 2020 Wine Style Awards: French Champa...,6,245.00,4.6,28513,None

In [14]:
# 2 - countries Marketing priorities: 

query2a= ("""
SELECT  
        countries.name AS country, 
        countries.users_count AS number_of_users,
        sum(wines.ratings_count) AS ratings_counts_tot,
        ROUND((SUM(wines.ratings_count)*1.0/countries.users_count), 2) AS ratings_counts_per_user,
        AVG(wines.ratings_average) AS ratings, 
        AVG(vintages.price_euros) AS price_EUR
        
FROM    wines
        JOIN regions ON wines.region_id = regions.id
        JOIN countries ON regions.country_code = countries.code
        JOIN vintages ON wines.id = vintages.wine_id
GROUP BY countries.name  
ORDER BY countries.users_count DESC, AVG(wines.ratings_average) DESC, AVG(wines.ratings_count) DESC
LIMIT 10
""") 

# for row in cursor.execute(query3):
#     print(row)
cursor.execute(query2a)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query2a, connexion)
df

Number of rows: 10
[('États-Unis', 12273684, 1528232, 0.12, 4.506250000000001, 300.36616071428574), ('France', 5973301, 9634864, 1.61, 4.484049930651893, 1025.3709986130377), ('Italie', 4270717, 11898245, 2.79, 4.478492239467868, 476.0170214338511), ('Allemagne', 2549989, 16609, 0.01, 4.475000000000001, 282.01666666666665), ('Espagne', 2264396, 1132535, 0.5, 4.467175572519083, 282.1422900763359), ('Suisse', 1601799, 1047, 0.0, 4.35, 123.42500000000001), ('Portugal', 1123535, 71717, 0.06, 4.429032258064517, 161.94903225806445), ('Australie', 1022965, 142532, 0.14, 4.5, 495.00937500000003), ('Argentine', 629532, 341337, 0.54, 4.42857142857143, 111.37749999999998), ('Chili', 326757, 363988, 1.11, 4.468, 129.70519999999996)]

,country,number_of_users,ratings_counts_tot,ratings_counts_per_user,ratings,price_EUR
0,États-Unis,12273684,1528232,0.12,4.506250,300.366161
1,France,5973301,9634864,1.61,4.484050,1025.370999
2,Italie,4270717,11898245,2.79,4.478492,476.017021
3,Allemagne,2549989,16609,0.01,4.475000,282.016667
4,Espagne,2264396,1132535,0.50,4.467176,282.142290
5,Suisse,1601799,1047,0.00,4.350000,123.425000
6,Portugal,1123535,71717,0.06,4.429032,161.949032
7,Australie,1022965,142532,0.14,4.500000,495.009375
8,Argentine,629532,341337,0.54,4.428571,111.377500
9,Chili,326757,363988,1.11,4.468000,129.705200

In [15]:
# 3 - best winery >> The winery Key and name are wrong in the database, join is useless
query3a = ("""
SELECT  wines.winery_id, 
        wineries.name ,
        AVG(wines.ratings_average), 
        AVG(wines.ratings_count)        
        
FROM    wines
        JOIN wineries ON wines.winery_id = wineries.id
GROUP BY wines.winery_id  
ORDER BY AVG(wines.ratings_average) DESC, AVG(wines.ratings_count) DESC
LIMIT 100
""") 

# for row in cursor.execute(query3):
#     print(row)
cursor.execute(query3a)
result = cursor.fetchall()
print("Number of rows:", len(result))
#print (result)
df = pd.read_sql_query(query3a, connexion)
df

Number of rows: 4

,winery_id,name,AVG(wines.ratings_average),AVG(wines.ratings_count)
0,1651,Tenuta Tignanello 'Solaia',4.5,2472.0
1,75712,Corte di Cama Sforzato di Valtellina,4.5,58.0
2,1652,Tignanello,4.4,741.0
3,1471,Siepi,4.3,4981.0

In [16]:
# 3 - best winery 
query3b = ("""
SELECT  --wines.name AS wine_name,
        --wines.id wine_id,
        --vintages.name AS vintage_name,
        wines.winery_id,
        CASE 
                WHEN INSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), wines.name) > 0 THEN
                        SUBSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), 1, INSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), wines.name) - 1) || 
                        SUBSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), INSTR(SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5), wines.name) + LENGTH(wines.name))
                ELSE SUBSTR(vintages.name,1, LENGTH(vintages.name) - 5)
        END AS winery_name,
        
        AVG(wines.ratings_average) AS ratings_avg,
        SUM(wines.ratings_count) AS ratings_cnt
        
FROM    wines
        JOIN vintages ON vintages.wine_id = wines.id
       
GROUP BY wines.winery_id  
HAVING ratings_avg > 4.5999 and ratings_cnt> 150000
ORDER BY SUM(wines.ratings_count)  DESC, AVG(wines.ratings_average) DESC
LIMIT 10
""") 

cursor.execute(query3b)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query3b, connexion)
df

Number of rows: 10
[(1413, 'Tenuta San Guido ', 4.599999999999998, 2691150), (212823, 'Dom Pérignon ', 4.625000000000001, 760718), (8028, "Château d'Yquem ", 4.7, 397134), (82979, 'Masseto ', 4.700000000000002, 390816), (2107, 'Château Latour ', 4.6000000000000005, 385210), (1235, 'Louis Roederer ', 4.607692307692308, 316298), (11050, 'Vega Sicilia ', 4.666666666666667, 294013), (1301, 'Caymus ', 4.666666666666667, 240416), (1344, 'Château Angelus ', 4.6000000000000005, 206064), (12630, 'Pétrus ', 4.7, 192942)]

   winery_id        winery_name  ratings_avg  ratings_cnt
0       1413  Tenuta San Guido      4.600000      2691150
1     212823      Dom Pérignon      4.625000       760718
2       8028   Château d'Yquem      4.700000       397134
3      82979           Masseto      4.700000       390816
4       2107    Château Latour      4.600000       385210
5       1235    Louis Roederer      4.607692       316298
6      11050      Vega Sicilia      4.666667       294013
7       1301            Caymus      4.666667       240416
8       1344   Château Angelus      4.600000       206064
9      12630            Pétrus      4.700000       192942

In [17]:
# 4a - identify wine with more than 10 users at least identofued the following taste : coffee, toast, green apple, cream, and citrus
query4a = ("""

SELECT 
    --keywords.name,
    wines.id AS wine_id,
    wines.name AS wine_name,
    --keywords_wine.keyword_type AS keyword_type,
    keywords_wine.count AS keyword_count,
    COUNT(DISTINCT keywords.name) as flavor_count   
                 
FROM    keywords_wine
        JOIN keywords ON keywords.id = keywords_wine.keyword_id
        JOIN wines ON wines.id = keywords_wine.wine_id

WHERE keywords.name IN ('coffee', 'toast', 'green apple', 'cream', 'citrus') and keywords_wine.count >=10
GROUP BY wines.id
HAVING COUNT(DISTINCT keywords.name) >= 5
ORDER BY flavor_count DESC

""")

cursor.execute(query4a)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query4a, connexion)
to_csv = df.to_csv('db/taste2.csv', index = False)
df

Number of rows: 19
[(7122486, 'Grande Cuvée', 713, 5), (3630450, 'Cuvée des Enchanteleurs Brut Champagne', 31, 5), (3102815, 'P2 Plénitude Brut Champagne', 161, 5), (1692390, 'Sir Winston Churchill Brut Champagne', 282, 5), (1441099, 'Blanc des Millénaires', 160, 5), (1192720, 'Dom Ruinart Blanc de Blancs Brut Champagne', 226, 5), (1167182, 'MV', 10, 5), (1164702, 'R.D Extra Brut Champagne (Récemment Dégorgé)', 163, 5), (1153863, 'Sauternes', 13, 5), (1136950, 'Comtes de Champagne Blanc de Blancs', 587, 5), (1135215, 'Sauternes (Premier Grand Cru Classé)', 10, 5), (1127349, 'Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne', 240, 5), (1105696, "Trebbiano d'Abruzzo", 21, 5), (86684, 'Brut Champagne', 2165, 5), (79836, 'La Grande Dame Brut Champagne', 244, 5), (79631, 'Vintage', 356, 5), (79162, 'Belle Epoque Brut Champagne', 224, 5), (74304, 'Cristal Brut Champagne (Millésimé)', 464, 5), (18931, 'La Grande Année Brut Champagne', 525, 5)]

,wine_id,wine_name,keyword_count,flavor_count
0,7122486,Grande Cuvée,713,5
1,3630450,Cuvée des Enchanteleurs Brut Champagne,31,5
2,3102815,P2 Plénitude Brut Champagne,161,5
3,1692390,Sir Winston Churchill Brut Champagne,282,5
4,1441099,Blanc des Millénaires,160,5
5,1192720,Dom Ruinart Blanc de Blancs Brut Champagne,226,5
6,1167182,MV,10,5
7,1164702,R.D Extra Brut Champagne (Récemment Dégorgé),163,5
8,1153863,Sauternes,13,5
9,1136950,Comtes de Champagne Blanc de Blancs,587,5
10,1135215,Sauternes (Premier Grand Cru Classé),10,5
11,1127349,Le Mesnil Blanc de Blancs (Cuvée S) Brut Champ...,240,5
12,1105696,Trebbiano d'Abruzzo,21,5
13,86684,Brut Champagne,2165,5
14,79836,La Grande Dame Brut Champagne,244,5
15,79631,Vintage,356,5
16,79162,Belle Epoque Brut Champagne,224,5
17,74304,Cristal Brut Champagne (Millésimé),464,5
18,18931,La Grande Année Brut Champagne,525,5

In [18]:
# 4b - verification of 4a
query4b = ("""

WITH taste_in_wine AS (
SELECT 
    --keywords.name,
    wines.id AS wine_id,
    wines.name AS wine_name,
    --keywords_wine.keyword_type AS keyword_type,
    keywords_wine.count AS keyword_count,
    COUNT(DISTINCT keywords.name) as flavor_count   
                 
FROM    keywords_wine
        JOIN keywords ON keywords.id = keywords_wine.keyword_id
        JOIN wines ON wines.id = keywords_wine.wine_id

WHERE keywords.name IN ('coffee', 'toast', 'green apple', 'cream', 'citrus') and keywords_wine.count >=10
GROUP BY wines.id
HAVING COUNT(DISTINCT keywords.name) >= 5
ORDER BY flavor_count DESC
)
           
SELECT DISTINCT
        taste_in_wine.wine_id,
        taste_in_wine.wine_name,
        keywords.id,
        keywords.name,
        keywords_wine.keyword_id,
        keywords_wine.count
           
FROM   taste_in_wine
        JOIN keywords_wine ON taste_in_wine.wine_id = keywords_wine.wine_id
        JOIN keywords ON keywords.id = keywords_wine.keyword_id
WHERE keywords.name IN ('coffee', 'toast', 'green apple', 'cream', 'citrus') 
ORDER BY taste_in_wine.wine_id


""")

cursor.execute(query4b)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query4b, connexion)
to_csv = df.to_csv('db/taste3.csv', index = False)
df

Number of rows: 95
[(18931, 'La Grande Année Brut Champagne', 417, 'toast', 417, 525), (18931, 'La Grande Année Brut Champagne', 117, 'coffee', 117, 32), (18931, 'La Grande Année Brut Champagne', 123, 'cream', 123, 425), (18931, 'La Grande Année Brut Champagne', 195, 'green apple', 195, 175), (18931, 'La Grande Année Brut Champagne', 106, 'citrus', 106, 454), (74304, 'Cristal Brut Champagne (Millésimé)', 417, 'toast', 417, 464), (74304, 'Cristal Brut Champagne (Millésimé)', 117, 'coffee', 117, 26), (74304, 'Cristal Brut Champagne (Millésimé)', 195, 'green apple', 195, 298), (74304, 'Cristal Brut Champagne (Millésimé)', 106, 'citrus', 106, 954), (74304, 'Cristal Brut Champagne (Millésimé)', 123, 'cream', 123, 496), (79162, 'Belle Epoque Brut Champagne', 195, 'green apple', 195, 224), (79162, 'Belle Epoque Brut Champagne', 417, 'toast', 417, 239), (79162, 'Belle Epoque Brut Champagne', 117, 'coffee', 117, 14), (79162, 'Belle Epoque Brut Champagne', 106, 'citrus', 106, 423), (79162, 'Belle Epoque Brut Champagne', 123, 'cream', 123, 207), (79631, 'Vintage', 417, 'toast', 417, 356), (79631, 'Vintage', 117, 'coffee', 117, 56), (79631, 'Vintage', 123, 'cream', 123, 240), (79631, 'Vintage', 195, 'green apple', 195, 96), (79631, 'Vintage', 106, 'citrus', 106, 406), (79836, 'La Grande Dame Brut Champagne', 417, 'toast', 417, 244), (79836, 'La Grande Dame Brut Champagne', 117, 'coffee', 117, 16), (79836, 'La Grande Dame Brut Champagne', 195, 'green apple', 195, 111), (79836, 'La Grande Dame Brut Champagne', 123, 'cream', 123, 178), (79836, 'La Grande Dame Brut Champagne', 106, 'citrus', 106, 326), (86684, 'Brut Champagne', 417, 'toast', 417, 2165), (86684, 'Brut Champagne', 117, 'coffee', 117, 145), (86684, 'Brut Champagne', 123, 'cream', 123, 1564), (86684, 'Brut Champagne', 195, 'green apple', 195, 893), (86684, 'Brut Champagne', 106, 'citrus', 106, 2596), (1105696, "Trebbiano d'Abruzzo", 117, 'coffee', 117, 21), (1105696, "Trebbiano d'Abruzzo", 195, 'green apple', 195, 14), (1105696, "Trebbiano d'Abruzzo", 106, 'citrus', 106, 55), (1105696, "Trebbiano d'Abruzzo", 417, 'toast', 417, 11), (1105696, "Trebbiano d'Abruzzo", 123, 'cream', 123, 27), (1127349, 'Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne', 106, 'citrus', 106, 240), (1127349, 'Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne', 417, 'toast', 417, 100), (1127349, 'Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne', 117, 'coffee', 117, 12), (1127349, 'Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne', 123, 'cream', 123, 118), (1127349, 'Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne', 195, 'green apple', 195, 76), (1135215, 'Sauternes (Premier Grand Cru Classé)', 195, 'green apple', 195, 10), (1135215, 'Sauternes (Premier Grand Cru Classé)', 117, 'coffee', 117, 16), (1135215, 'Sauternes (Premier Grand Cru Classé)', 417, 'toast', 417, 44), (1135215, 'Sauternes (Premier Grand Cru Classé)', 106, 'citrus', 106, 134), (1135215, 'Sauternes (Premier Grand Cru Classé)', 123, 'cream', 123, 126), (1136950, 'Comtes de Champagne Blanc de Blancs', 417, 'toast', 417, 587), (1136950, 'Comtes de Champagne Blanc de Blancs', 117, 'coffee', 117, 39), (1136950, 'Comtes de Champagne Blanc de Blancs', 123, 'cream', 123, 589), (1136950, 'Comtes de Champagne Blanc de Blancs', 106, 'citrus', 106, 720), (1136950, 'Comtes de Champagne Blanc de Blancs', 195, 'green apple', 195, 249), (1153863, 'Sauternes', 195, 'green apple', 195, 13), (1153863, 'Sauternes', 117, 'coffee', 117, 26), (1153863, 'Sauternes', 417, 'toast', 417, 49), (1153863, 'Sauternes', 106, 'citrus', 106, 201), (1153863, 'Sauternes', 123, 'cream', 123, 215), (1164702, 'R.D Extra Brut Champagne (Récemment Dégorgé)', 417, 'toast', 417, 163), (1164702, 'R.D Extra Brut Champagne (Récemment Dégorgé)', 117, 'coffee', 117, 17), (1164702, 'R.D Extra Brut Champagne (Récemment Dégorgé)', 123, 'cream', 123, 157), (1164702, 'R.D Extra Brut Champagne (Récemment Dégorgé)', 195, 'green apple', 195, 34), (1164702, 'R.D Extra Brut Champagne (Récemment Dégorgé)', 106, 'citrus', 106, 149), (1167182, 'MV', 117, 'coffee', 117, 10), (1167182, 'MV', 417, 'toast', 417, 113), (1167182, 'MV', 195, 'green apple', 195, 33), (1167182, 'MV', 123, 'cream', 123, 109), (1167182, 'MV', 106, 'citrus', 106, 131), (1192720, 'Dom Ruinart Blanc de Blancs Brut Champagne', 417, 'toast', 417, 226), (1192720, 'Dom Ruinart Blanc de Blancs Brut Champagne', 117, 'coffee', 117, 22), (1192720, 'Dom Ruinart Blanc de Blancs Brut Champagne', 123, 'cream', 123, 165), (1192720, 'Dom Ruinart Blanc de Blancs Brut Champagne', 195, 'green apple', 195, 86), (1192720, 'Dom Ruinart Blanc de Blancs Brut Champagne', 106, 'citrus', 106, 250), (1441099, 'Blanc des Millénaires', 417, 'toast', 417, 160), (1441099, 'Blanc des Millénaires', 117, 'coffee', 117, 27), (1441099, 'Blanc des Millénaires', 123, 'cream', 123, 149), (1441099, 'Blanc des Millénaires', 106, 'citrus', 106, 181), (1441099, 'Blanc des Millénaires', 195, 'green apple', 195, 66), (1692390, 'Sir Winston Churchill Brut Champagne', 417, 'toast', 417, 282), (1692390, 'Sir Winston Churchill Brut Champagne', 117, 'coffee', 117, 13), (1692390, 'Sir Winston Churchill Brut Champagne', 123, 'cream', 123, 290), (1692390, 'Sir Winston Churchill Brut Champagne', 195, 'green apple', 195, 127), (1692390, 'Sir Winston Churchill Brut Champagne', 106, 'citrus', 106, 408), (3102815, 'P2 Plénitude Brut Champagne', 417, 'toast', 417, 161), (3102815, 'P2 Plénitude Brut Champagne', 117, 'coffee', 117, 14), (3102815, 'P2 Plénitude Brut Champagne', 123, 'cream', 123, 135), (3102815, 'P2 Plénitude Brut Champagne', 195, 'green apple', 195, 30), (3102815, 'P2 Plénitude Brut Champagne', 106, 'citrus', 106, 141), (3630450, 'Cuvée des Enchanteleurs Brut Champagne', 417, 'toast', 417, 31), (3630450, 'Cuvée des Enchanteleurs Brut Champagne', 117, 'coffee', 117, 14), (3630450, 'Cuvée des Enchanteleurs Brut Champagne', 123, 'cream', 123, 37), (3630450, 'Cuvée des Enchanteleurs Brut Champagne', 195, 'green apple', 195, 11), (3630450, 'Cuvée des Enchanteleurs Brut Champagne', 106, 'citrus', 106, 25), (7122486, 'Grande Cuvée', 417, 'toast', 417, 713), (7122486, 'Grande Cuvée', 117, 'coffee', 117, 50), (7122486, 'Grande Cuvée', 123, 'cream', 123, 439), (7122486, 'Grande Cuvée', 106, 'citrus', 106, 916), (7122486, 'Grande Cuvée', 195, 'green apple', 195, 304)]

,wine_id,wine_name,id,name,keyword_id,count
0,18931,La Grande Année Brut Champagne,417,toast,417,525
1,18931,La Grande Année Brut Champagne,117,coffee,117,32
2,18931,La Grande Année Brut Champagne,123,cream,123,425
3,18931,La Grande Année Brut Champagne,195,green apple,195,175
4,18931,La Grande Année Brut Champagne,106,citrus,106,454
...,...,...,...,...,...,...
90,7122486,Grande Cuvée,417,toast,417,713
91,7122486,Grande Cuvée,117,coffee,117,50
92,7122486,Grande Cuvée,123,cream,123,439
93,7122486,Grande Cuvée,106,citrus,106,916
94,7122486,Grande Cuvée,195,green apple,195,304

In [19]:
# 5a - Best 5 wines per type of grapes - most common grapes world wide
query5a = ("""
SELECT  DISTINCT 
        grapes.name,
        most_used_grapes_per_country.grape_id,
        most_used_grapes_per_country.wines_count AS grapes_count
                
FROM    most_used_grapes_per_country
        JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
ORDER BY grapes_count DESC
LIMIT 3

""")
cursor.execute(query5a)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5a, connexion)
df

Number of rows: 3
[('Cabernet Sauvignon', 2, 801751), ('Chardonnay', 5, 604208), ('Pinot Noir', 14, 572334)]

                 name  grape_id  grapes_count
0  Cabernet Sauvignon         2        801751
1          Chardonnay         5        604208
2          Pinot Noir        14        572334

In [20]:
# 5b - Best 5 wines per type of grapes -  Country list related to  most common grapes world wide
query5b = ("""

WITH most_common_grapes_WW AS (
        SELECT  DISTINCT 
                grapes.name,
                most_used_grapes_per_country.grape_id,
                most_used_grapes_per_country.wines_count AS grapes_count
               
        FROM    most_used_grapes_per_country
                JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
        ORDER BY grapes_count DESC
        LIMIT 3
)          
SELECT   
        most_used_grapes_per_country.grape_id AS grape_id,
        most_used_grapes_per_country.country_code as country_code
                   
FROM    most_used_grapes_per_country
WHERE   grape_id IN (SELECT grape_id FROM most_common_grapes_WW)
GROUP BY grape_id, country_code

           
 

""")
cursor.execute(query5b)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5b, connexion)
df

Number of rows: 21
[(2, 'ar'), (2, 'au'), (2, 'cl'), (2, 'es'), (2, 'gr'), (2, 'hr'), (2, 'hu'), (2, 'il'), (2, 'md'), (2, 'ro'), (2, 'us'), (2, 'za'), (5, 'ar'), (5, 'au'), (5, 'fr'), (5, 'it'), (5, 'md'), (5, 'us'), (14, 'ch'), (14, 'fr'), (14, 'us')]

    grape_id country_code
0          2           ar
1          2           au
2          2           cl
3          2           es
4          2           gr
5          2           hr
6          2           hu
7          2           il
8          2           md
9          2           ro
10         2           us
11         2           za
12         5           ar
13         5           au
14         5           fr
15         5           it
16         5           md
17         5           us
18        14           ch
19        14           fr
20        14           us

In [21]:
# 5c - Best 5 wines per type of grapes -  region list  for countries related to most common grapes WW
query5c = ("""

WITH countries_most_common_grapes AS (
    WITH most_common_grapes_WW AS (
            SELECT  DISTINCT 
                    grapes.name,
                    most_used_grapes_per_country.grape_id,
                    most_used_grapes_per_country.wines_count AS grapes_count
                
            FROM    most_used_grapes_per_country
                    JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
            ORDER BY grapes_count DESC
            LIMIT 3
    )          
    SELECT   
            most_used_grapes_per_country.grape_id AS grape_id,
            most_used_grapes_per_country.country_code as country_code
                    
    FROM    most_used_grapes_per_country
    WHERE   grape_id IN (SELECT grape_id FROM most_common_grapes_WW)
    GROUP BY grape_id, country_code
)
           
SELECT
    regions.name AS region_name,
    regions.id AS region_id,
    regions.country_code AS region_country_code,
    countries_most_common_grapes.country_code AS prev_country_code,
    countries_most_common_grapes.grape_id AS grape_id
    
    
FROM    
    regions
    JOIN countries_most_common_grapes ON regions.country_code = countries_most_common_grapes.country_code
    
ORDER BY grape_id, region_id, region_country_code

           
        
""")


cursor.execute(query5c)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5c, connexion)
df

Number of rows: 410
[('South Australia', 7, 'au', 'au', 2), ('California', 24, 'us', 'us', 2), ('Napa Valley', 25, 'us', 'us', 2), ('Sonoma County', 26, 'us', 'us', 2), ('Oakville', 42, 'us', 'us', 2), ('Willamette Valley', 51, 'us', 'us', 2), ('Yamhill County', 55, 'us', 'us', 2), ('Lodi', 65, 'us', 'us', 2), ('Howell Mountain', 85, 'us', 'us', 2), ('Santa Cruz Mountains', 86, 'us', 'us', 2), ('Stags Leap District', 88, 'us', 'us', 2), ('Calistoga', 91, 'us', 'us', 2), ('Russian River Valley', 94, 'us', 'us', 2), ('Los Carneros', 96, 'us', 'us', 2), ('Sta. Rita Hills', 99, 'us', 'us', 2), ('Alexander Valley', 100, 'us', 'us', 2), ('Rutherford', 105, 'us', 'us', 2), ('Walla Walla Valley', 324, 'us', 'us', 2), ('Columbia Valley', 327, 'us', 'us', 2), ('Barossa Valley', 397, 'au', 'au', 2), ('Ribera del Duero', 405, 'es', 'es', 2), ('Cachapoal Valley', 411, 'cl', 'cl', 2), ('Margaret River', 425, 'au', 'au', 2), ('Toro', 430, 'es', 'es', 2), ('Clare Valley', 444, 'au', 'au', 2), ('Mendoza', 454, 'ar', 'ar', 2), ('Priorat', 463, 'es', 'es', 2), ('Campo de Borja', 478, 'es', 'es', 2), ('Montilla-Moriles', 485, 'es', 'es', 2), ('Rioja', 492, 'es', 'es', 2), ('Stellenbosch', 533, 'za', 'za', 2), ('Franschhoek', 534, 'za', 'za', 2), ('Tokaj', 541, 'hu', 'hu', 2), ('Jumilla', 544, 'es', 'es', 2), ('Galilee', 550, 'il', 'il', 2), ('Paarl', 557, 'za', 'za', 2), ('Central Valley', 593, 'cl', 'cl', 2), ('Constantia', 625, 'za', 'za', 2), ('Bierzo', 628, 'es', 'es', 2), ('Penedès', 631, 'es', 'es', 2), ('Paso Robles', 684, 'us', 'us', 2), ('Curico Valley', 700, 'cl', 'cl', 2), ('Uco Valley', 713, 'ar', 'ar', 2), ('Maipo Valley', 721, 'cl', 'cl', 2), ('Dundee Hills', 726, 'us', 'us', 2), ('Colchagua Valley', 737, 'cl', 'cl', 2), ('Patagonia', 755, 'ar', 'ar', 2), ('Knights Valley', 758, 'us', 'us', 2), ('Salta', 770, 'ar', 'ar', 2), ('Montsant', 775, 'es', 'es', 2), ('Andalucía', 825, 'es', 'es', 2), ('Vino de España', 839, 'es', 'es', 2), ('Western Cape', 853, 'za', 'za', 2), ('Santa Barbara County', 857, 'us', 'us', 2), ('Rio Negro', 858, 'ar', 'ar', 2), ('Barossa', 870, 'au', 'au', 2), ('Epanomi', 926, 'gr', 'gr', 2), ('Dealu Mare', 974, 'ro', 'ro', 2), ('South Eastern', 1124, 'md', 'md', 2), ('Tulbagh', 1364, 'za', 'za', 2), ('Moldova', 1437, 'md', 'md', 2), ('Aconcagua Valley', 1573, 'cl', 'cl', 2), ('Srednja I Juzna Dalmacija', 1575, 'hr', 'hr', 2), ('Agrelo', 1596, 'ar', 'ar', 2), ('Perdriel', 1600, 'ar', 'ar', 2), ('Tupungato', 1610, 'ar', 'ar', 2), ('Cava', 1706, 'es', 'es', 2), ('Mallorca', 1723, 'es', 'es', 2), ('Rueda', 1729, 'es', 'es', 2), ('Valdeorras', 1735, 'es', 'es', 2), ('El Terrerazo', 1744, 'es', 'es', 2), ('Empordà', 1786, 'es', 'es', 2), ('Sonoma Coast', 1930, 'us', 'us', 2), ('Fort Ross-Seaview', 1931, 'us', 'us', 2), ('Puente Alto', 3068, 'cl', 'cl', 2), ('Fthiotida', 3436, 'gr', 'gr', 2), ('Pedro Ximénez Sherry (PX)', 3505, 'es', 'es', 2), ('Palo Cortado Sherry', 3506, 'es', 'es', 2), ('Paraje Altamira', 4262, 'ar', 'ar', 2), ('Greyton', 4363, 'za', 'za', 2), ('Cream Sherry', 4595, 'es', 'es', 2), ('Apalta Valley', 4670, 'cl', 'cl', 2), ('South Australia', 7, 'au', 'au', 5), ('California', 24, 'us', 'us', 5), ('Napa Valley', 25, 'us', 'us', 5), ('Sonoma County', 26, 'us', 'us', 5), ('Oakville', 42, 'us', 'us', 5), ('Willamette Valley', 51, 'us', 'us', 5), ('Yamhill County', 55, 'us', 'us', 5), ('Lodi', 65, 'us', 'us', 5), ('Howell Mountain', 85, 'us', 'us', 5), ('Santa Cruz Mountains', 86, 'us', 'us', 5), ('Stags Leap District', 88, 'us', 'us', 5), ('Calistoga', 91, 'us', 'us', 5), ('Russian River Valley', 94, 'us', 'us', 5), ('Los Carneros', 96, 'us', 'us', 5), ('Sta. Rita Hills', 99, 'us', 'us', 5), ('Alexander Valley', 100, 'us', 'us', 5), ('Rutherford', 105, 'us', 'us', 5), ('Walla Walla Valley', 324, 'us', 'us', 5), ('Columbia Valley', 327, 'us', 'us', 5), ('Bordeaux', 383, 'fr', 'fr', 5), ('Margaux', 384, 'fr', 'fr', 5), ('Bourgogne', 385, 'fr', 'fr', 5), ('Alsace', 387, 'fr', 'fr', 5), ('Piemonte', 389, 'it', 'it', 5), ('Pauillac', 393, 'fr', 'fr', 5), ('Toscana', 394, 'it', 'it', 5), ('Barossa Valley', 397, 'au', 'au', 5), ('Saint-Julien', 399, 'fr', 'fr', 5), ('Châteauneuf-du-Pape', 401, 'fr', 'fr', 5), ('Champagne', 409, 'fr', 'fr', 5), ('Margaret River', 425, 'au', 'au', 5), ('Côtes-du-Rhône', 429, 'fr', 'fr', 5), ('Sauternes', 432, 'fr', 'fr', 5), ('Saint-Joseph', 439, 'fr', 'fr', 5), ('Campania', 443, 'it', 'it', 5), ('Clare Valley', 444, 'au', 'au', 5), ('Lazio', 445, 'it', 'it', 5), ('Graves', 451, 'fr', 'fr', 5), ('Côtes de Bourg', 452, 'fr', 'fr', 5), ('Mendoza', 454, 'ar', 'ar', 5), ('Saint-Estèphe', 456, 'fr', 'fr', 5), ('Veneto', 460, 'it', 'it', 5), ('Pessac-Léognan', 471, 'fr', 'fr', 5), ('Valpolicella', 483, 'it', 'it', 5), ('Umbria', 488, 'it', 'it', 5), ('Vacqueyras', 500, 'fr', 'fr', 5), ('Barolo', 504, 'it', 'it', 5), ('Hermitage', 535, 'fr', 'fr', 5), ('Puglia', 548, 'it', 'it', 5), ('Pomerol', 555, 'fr', 'fr', 5), ('Trentino-Alto Adige', 576, 'it', 'it', 5), ('Terre Siciliane', 579, 'it', 'it', 5), ('Langhe', 613, 'it', 'it', 5), ('Abruzzo', 619, 'it', 'it', 5), ('Sancerre', 635, 'fr', 'fr', 5), ('Chassagne-Montrachet', 636, 'fr', 'fr', 5), ('Salento', 640, 'it', 'it', 5), ('Friuli-Venezia Giulia', 642, 'it', 'it', 5), ('Bandol', 648, 'fr', 'fr', 5), ('Südtirol - Alto Adige', 661, 'it', 'it', 5), ('Bolgheri', 673, 'it', 'it', 5), ('Paso Robles', 684, 'us', 'us', 5), ('Côte-Rôtie', 693, 'fr', 'fr', 5), ('Marche', 712, 'it', 'it', 5), ('Uco Valley', 713, 'ar', 'ar', 5), ('Barbaresco', 722, 'it', 'it', 5), ('Dundee Hills', 726, 'us', 'us', 5), ('Valtellina', 746, 'it', 'it', 5), ('Patagonia', 755, 'ar', 'ar', 5), ('Knights Valley', 758, 'us', 'us', 5), ('Pouilly-Fumé', 759, 'fr', 'fr', 5), ('Salta', 770, 'ar', 'ar', 5), ('Saumur-Champigny', 773, 'fr', 'fr', 5), ('Château-Grillet', 782, 'fr', 'fr', 5), ('Condrieu', 801, 'fr', 'fr', 5), ('Rosso Piceno', 808, 'it', 'it', 5), ('Franciacorta', 817, 'it', 'it', 5), ('Saint-Émilion Grand Cru', 827, 'fr', 'fr', 5), ('Santa Barbara County', 857, 'us', 'us', 5), ('Rio Negro', 858, 'ar', 'ar', 5), ('Emilia-Romagna', 862, 'it', 'it', 5), ('Barossa', 870, 'au', 'au', 5), ("Valle d'Aosta", 903, 'it', 'it', 5), ('Trentino', 907, 'it', 'it', 5), ('South Eastern', 1124, 'md', 'md', 5), ('Moldova', 1437, 'md', 'md', 5), ('Agrelo', 1596, 'ar', 'ar', 5), ('Perdriel', 1600, 'ar', 'ar', 5), ('Tupungato', 1610, 'ar', 'ar', 5), ('Brunello di Montalcino', 1796, 'it', 'it', 5), ('Chianti Classico', 1798, 'it', 'it', 5), ('Vino Nobile di Montepulciano', 1801, 'it', 'it', 5), ('Montefalco Sagrantino', 1802, 'it', 'it', 5), ('Amarone della Valpolicella', 1804, 'it', 'it', 5), ('Recioto della Valpolicella', 1808, 'it', 'it', 5), ('Gattinara', 1819, 'it', 'it', 5), ("Barbera d'Asti", 1829, 'it', 'it', 5), ('Valtellina Superiore', 1836, 'it', 'it', 5), ('Sforzato della Valtellina', 1837, 'it', 'it', 5), ('Taurasi', 1843, 'it', 'it', 5), ('Greco di Tufo', 1844, 'it', 'it', 5), ('Sonoma Coast', 1930, 'us', 'us', 5), ('Fort Ross-Seaview', 1931, 'us', 'us', 5), ('Barsac', 2141, 'fr', 'fr', 5), ('Chambertin Grand Cru', 2201, 'fr', 'fr', 5), ('Chambertin-Clos de Bèze Grand Cru', 2202, 'fr', 'fr', 5), ('Chapelle-Chambertin Grand Cru', 2203, 'fr', 'fr', 5), ('Charmes-Chambertin Grand Cru', 2204, 'fr', 'fr', 5), ('Griotte-Chambertin Grand Cru', 2205, 'fr', 'fr', 5), ('Mazis-Chambertin Grand Cru', 2207, 'fr', 'fr', 5), ('Morey-Saint-Denis', 2209, 'fr', 'fr', 5), ('Clos de la Roche Grand Cru', 2211, 'fr', 'fr', 5), ('Clos de Lambrays Grand Cru', 2212, 'fr', 'fr', 5), ('Clos de Tart Grand Cru', 2213, 'fr', 'fr', 5), ('Clos Saint-Denis Grand Cru', 2214, 'fr', 'fr', 5), ('Chambolle-Musigny', 2215, 'fr', 'fr', 5), ('Bonnes-Mares Grand Cru', 2216, 'fr', 'fr', 5), ('Musigny Grand Cru', 2217, 'fr', 'fr', 5), ('Clos Vougeot Grand Cru', 2219, 'fr', 'fr', 5), ('Échezeaux Grand Cru', 2221, 'fr', 'fr', 5), ('Grands-Échezeaux Grand Cru', 2222, 'fr', 'fr', 5), ('Vosne-Romanée', 2223, 'fr', 'fr', 5), ('La Grande Rue Grand Cru', 2224, 'fr', 'fr', 5), ('Richebourg Grand Cru', 2227, 'fr', 'fr', 5), ('Romanée-Saint-Vivant Grand Cru', 2229, 'fr', 'fr', 5), ('Nuits-Saint-Georges', 2230, 'fr', 'fr', 5), ('Corton-Charlemagne Grand Cru', 2236, 'fr', 'fr', 5), ('Corton Grand Cru', 2237, 'fr', 'fr', 5), ('Meursault', 2246, 'fr', 'fr', 5), ('Puligny-Montrachet', 2248, 'fr', 'fr', 5), ('Savennières-Coulée-de-Serrant', 2300, 'fr', 'fr', 5), ('Côtes du Jura', 2410, 'fr', 'fr', 5), ('Trento', 2471, 'it', 'it', 5), ("Barbera d'Alba", 2585, 'it', 'it', 5), ("Nebbiolo d'Alba", 2614, 'it', 'it', 5), ('Verdicchio dei Castelli di Jesi', 2660, 'it', 'it', 5), ('Orcia', 2679, 'it', 'it', 5), ('Vin Santo di Montepulciano', 2693, 'it', 'it', 5), ("Montepulciano d'Abruzzo", 2734, 'it', 'it', 5), ("Trebbiano d'Abruzzo", 2735, 'it', 'it', 5), ('Primitivo di Manduria', 2753, 'it', 'it', 5), ('Cannonau di Sardegna', 2779, 'it', 'it', 5), ('Contessa Entellina', 2810, 'it', 'it', 5), ('Marsala', 2818, 'it', 'it', 5), ('Venezia Giulia', 2869, 'it', 'it', 5), ('Isola dei Nuraghi', 2894, 'it', 'it', 5), ('Colli della Toscana Centrale', 2915, 'it', 'it', 5), ('Maremma Toscana', 2916, 'it', 'it', 5), ('Bolgheri Sassicaia', 2999, 'it', 'it', 5), ('Vin de France', 3009, 'fr', 'fr', 5), ('Vosne-Romanée Premier Cru', 3015, 'fr', 'fr', 5), ('Chambolle-Musigny Premier Cru', 3016, 'fr', 'fr', 5), ('Pommard Premier Cru', 3021, 'fr', 'fr', 5), ('Puligny-Montrachet Premier Cru', 3022, 'fr', 'fr', 5), ('Chassagne-Montrachet Premier Cru', 3024, 'fr', 'fr', 5), ('Bâtard-Montrachet Grand Cru', 3036, 'fr', 'fr', 5), ('Chevalier-Montrachet Grand Cru', 3037, 'fr', 'fr', 5), ('Montrachet Grand Cru', 3041, 'fr', 'fr', 5), ('Hérault', 3077, 'fr', 'fr', 5), ('Rosso Veronese', 3107, 'it', 'it', 5), ('Bienvenues-Bâtard-Montrachet Grand Cru', 3138, 'fr', 'fr', 5), ('Valpolicella Classico', 3235, 'it', 'it', 5), ('Amarone della Valpolicella Classico', 3237, 'it', 'it', 5), ('Amarone della Valpolicella Valpantena', 3238, 'it', 'it', 5), ('Luberon', 3265, 'fr', 'fr', 5), ('Pézenas', 3336, 'fr', 'fr', 5), ('Recioto della Valpolicella Classico', 3344, 'it', 'it', 5), ('Bolgheri Superiore', 3345, 'it', 'it', 5), ("Vosne-Romanée 1er Cru 'Malconsorts'", 3510, 'fr', 'fr', 5), ("Vosne-Romanée 1er Cru 'Les Beaux Monts'", 3516, 'fr', 'fr', 5), ("Vosne-Romanée 1er Cru 'Les Suchots'", 3521, 'fr', 'fr', 5), ("Chablis Grand Cru 'Les Clos'", 3558, 'fr', 'fr', 5), ("Chablis Grand Cru 'Valmur'", 3560, 'fr', 'fr', 5), ("Beaune 1er Cru 'Le Clos des Mouches'", 3601, 'fr', 'fr', 5), ("Chambolle-Musigny 1er Cru 'Les Amoureuses'", 3678, 'fr', 'fr', 5), ("Chambolle-Musigny 1er Cru 'Les Feusselottes'", 3687, 'fr', 'fr', 5), ("Chambolle-Musigny 1er Cru 'Les Sentiers'", 3695, 'fr', 'fr', 5), ("Chassagne-Montrachet 1er Cru 'La Maltroie'", 3720, 'fr', 'fr', 5), ("Chassagne-Montrachet 1er Cru 'Morgeot'", 3745, 'fr', 'fr', 5), ("Gevrey-Chambertin 1er Cru 'Aux Combottes'", 3763, 'fr', 'fr', 5), ("Meursault 1er Cru 'Charmes'", 3864, 'fr', 'fr', 5), ("Meursault 1er Cru 'Genevrières'", 3866, 'fr', 'fr', 5), ("Meursault 1er Cru 'Perrières'", 3877, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Aux Boudots'", 3967, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Aux Murgers'", 3972, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Aux Thorey'", 3974, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Clos des Corvées'", 3981, 'fr', 'fr', 5), ("Nuits-Saint-Georges 1er Cru 'Clos des Porrets Saint-Georges'", 3985, 'fr', 'fr', 5), ("Puligny-Montrachet 1er Cru 'Champ Gain'", 4048, 'fr', 'fr', 5), ("Puligny-Montrachet 1er Cru 'La Garenne'", 4053, 'fr', 'fr', 5), ("Puligny-Montrachet 1er Cru 'La Truffière'", 4054, 'fr', 'fr', 5), ("Volnay 1er Cru 'Les Caillerets'", 4171, 'fr', 'fr', 5), ('Costa Toscana', 4240, 'it', 'it', 5), ('Paraje Altamira', 4262, 'ar', 'ar', 5), ('Charlemagne Grand Cru', 4311, 'fr', 'fr', 5), ('Passito di Pantelleria', 4615, 'it', 'it', 5), ("Champagne Grand Cru 'Aÿ'", 4621, 'fr', 'fr', 5), ("Champagne Grand Cru 'Ambonnay'", 4624, 'fr', 'fr', 5), ("Champagne Grand Cru 'Avize'", 4625, 'fr', 'fr', 5), ("Champagne Grand Cru 'Le Mesnil-sur-Oger'", 4631, 'fr', 'fr', 5), ('Champagne Grand Cru', 4638, 'fr', 'fr', 5), ('Champagne Premier Cru', 4639, 'fr', 'fr', 5), ('California', 24, 'us', 'us', 14), ('Napa Valley', 25, 'us', 'us', 14), ('Sonoma County', 26, 'us', 'us', 14), ('Oakville', 42, 'us', 'us', 14), ('Willamette Valley', 51, 'us', 'us', 14), ('Yamhill County', 55, 'us', 'us', 14), ('Lodi', 65, 'us', 'us', 14), ('Howell Mountain', 85, 'us', 'us', 14), ('Santa Cruz Mountains', 86, 'us', 'us', 14), ('Stags Leap District', 88, 'us', 'us', 14), ('Calistoga', 91, 'us', 'us', 14), ('Russian River Valley', 94, 'us', 'us', 14), ('Los Carneros', 96, 'us', 'us', 14), ('Sta. Rita Hills', 99, 'us', 'us', 14), ('Alexander Valley', 100, 'us', 'us', 14), ('Rutherford', 105, 'us', 'us', 14), ('Walla Walla Valley', 324, 'us', 'us', 14), ('Columbia Valley', 327, 'us', 'us', 14), ('Bordeaux', 383, 'fr', 'fr', 14), ('Margaux', 384, 'fr', 'fr', 14), ('Bourgogne', 385, 'fr', 'fr', 14), ('Alsace', 387, 'fr', 'fr', 14), ('Pauillac', 393, 'fr', 'fr', 14), ('Saint-Julien', 399, 'fr', 'fr', 14), ('Châteauneuf-du-Pape', 401, 'fr', 'fr', 14), ('Champagne', 409, 'fr', 'fr', 14), ('Côtes-du-Rhône', 429, 'fr', 'fr', 14), ('Sauternes', 432, 'fr', 'fr', 14), ('Saint-Joseph', 439, 'fr', 'fr', 14), ('Graves', 451, 'fr', 'fr', 14), ('Côtes de Bourg', 452, 'fr', 'fr', 14), ('Saint-Estèphe', 456, 'fr', 'fr', 14), ('Pessac-Léognan', 471, 'fr', 'fr', 14), ('Vacqueyras', 500, 'fr', 'fr', 14), ('Hermitage', 535, 'fr', 'fr', 14), ('Pomerol', 555, 'fr', 'fr', 14), ('Sancerre', 635, 'fr', 'fr', 14), ('Chassagne-Montrachet', 636, 'fr', 'fr', 14), ('Bandol', 648, 'fr', 'fr', 14), ('Paso Robles', 684, 'us', 'us', 14), ('Côte-Rôtie', 693, 'fr', 'fr', 14), ('Dundee Hills', 726, 'us', 'us', 14), ('Knights Valley', 758, 'us', 'us', 14), ('Pouilly-Fumé', 759, 'fr', 'fr', 14), ('Saumur-Champigny', 773, 'fr', 'fr', 14), ('Château-Grillet', 782, 'fr', 'fr', 14), ('Condrieu', 801, 'fr', 'fr', 14), ('Saint-Émilion Grand Cru', 827, 'fr', 'fr', 14), ('Santa Barbara County', 857, 'us', 'us', 14), ('Valais', 959, 'ch', 'ch', 14), ('Ticino', 1414, 'ch', 'ch', 14), ('Sonoma Coast', 1930, 'us', 'us', 14), ('Fort Ross-Seaview', 1931, 'us', 'us', 14), ('Barsac', 2141, 'fr', 'fr', 14), ('Chambertin Grand Cru', 2201, 'fr', 'fr', 14), ('Chambertin-Clos de Bèze Grand Cru', 2202, 'fr', 'fr', 14), ('Chapelle-Chambertin Grand Cru', 2203, 'fr', 'fr', 14), ('Charmes-Chambertin Grand Cru', 2204, 'fr', 'fr', 14), ('Griotte-Chambertin Grand Cru', 2205, 'fr', 'fr', 14), ('Mazis-Chambertin Grand Cru', 2207, 'fr', 'fr', 14), ('Morey-Saint-Denis', 2209, 'fr', 'fr', 14), ('Clos de la Roche Grand Cru', 2211, 'fr', 'fr', 14), ('Clos de Lambrays Grand Cru', 2212, 'fr', 'fr', 14), ('Clos de Tart Grand Cru', 2213, 'fr', 'fr', 14), ('Clos Saint-Denis Grand Cru', 2214, 'fr', 'fr', 14), ('Chambolle-Musigny', 2215, 'fr', 'fr', 14), ('Bonnes-Mares Grand Cru', 2216, 'fr', 'fr', 14), ('Musigny Grand Cru', 2217, 'fr', 'fr', 14), ('Clos Vougeot Grand Cru', 2219, 'fr', 'fr', 14), ('Échezeaux Grand Cru', 2221, 'fr', 'fr', 14), ('Grands-Échezeaux Grand Cru', 2222, 'fr', 'fr', 14), ('Vosne-Romanée', 2223, 'fr', 'fr', 14), ('La Grande Rue Grand Cru', 2224, 'fr', 'fr', 14), ('Richebourg Grand Cru', 2227, 'fr', 'fr', 14), ('Romanée-Saint-Vivant Grand Cru', 2229, 'fr', 'fr', 14), ('Nuits-Saint-Georges', 2230, 'fr', 'fr', 14), ('Corton-Charlemagne Grand Cru', 2236, 'fr', 'fr', 14), ('Corton Grand Cru', 2237, 'fr', 'fr', 14), ('Meursault', 2246, 'fr', 'fr', 14), ('Puligny-Montrachet', 2248, 'fr', 'fr', 14), ('Savennières-Coulée-de-Serrant', 2300, 'fr', 'fr', 14), ('Côtes du Jura', 2410, 'fr', 'fr', 14), ('Vin de France', 3009, 'fr', 'fr', 14), ('Vosne-Romanée Premier Cru', 3015, 'fr', 'fr', 14), ('Chambolle-Musigny Premier Cru', 3016, 'fr', 'fr', 14), ('Pommard Premier Cru', 3021, 'fr', 'fr', 14), ('Puligny-Montrachet Premier Cru', 3022, 'fr', 'fr', 14), ('Chassagne-Montrachet Premier Cru', 3024, 'fr', 'fr', 14), ('Bâtard-Montrachet Grand Cru', 3036, 'fr', 'fr', 14), ('Chevalier-Montrachet Grand Cru', 3037, 'fr', 'fr', 14), ('Montrachet Grand Cru', 3041, 'fr', 'fr', 14), ('Hérault', 3077, 'fr', 'fr', 14), ('Bienvenues-Bâtard-Montrachet Grand Cru', 3138, 'fr', 'fr', 14), ('Luberon', 3265, 'fr', 'fr', 14), ('Pézenas', 3336, 'fr', 'fr', 14), ("Vosne-Romanée 1er Cru 'Malconsorts'", 3510, 'fr', 'fr', 14), ("Vosne-Romanée 1er Cru 'Les Beaux Monts'", 3516, 'fr', 'fr', 14), ("Vosne-Romanée 1er Cru 'Les Suchots'", 3521, 'fr', 'fr', 14), ("Chablis Grand Cru 'Les Clos'", 3558, 'fr', 'fr', 14), ("Chablis Grand Cru 'Valmur'", 3560, 'fr', 'fr', 14), ("Beaune 1er Cru 'Le Clos des Mouches'", 3601, 'fr', 'fr', 14), ("Chambolle-Musigny 1er Cru 'Les Amoureuses'", 3678, 'fr', 'fr', 14), ("Chambolle-Musigny 1er Cru 'Les Feusselottes'", 3687, 'fr', 'fr', 14), ("Chambolle-Musigny 1er Cru 'Les Sentiers'", 3695, 'fr', 'fr', 14), ("Chassagne-Montrachet 1er Cru 'La Maltroie'", 3720, 'fr', 'fr', 14), ("Chassagne-Montrachet 1er Cru 'Morgeot'", 3745, 'fr', 'fr', 14), ("Gevrey-Chambertin 1er Cru 'Aux Combottes'", 3763, 'fr', 'fr', 14), ("Meursault 1er Cru 'Charmes'", 3864, 'fr', 'fr', 14), ("Meursault 1er Cru 'Genevrières'", 3866, 'fr', 'fr', 14), ("Meursault 1er Cru 'Perrières'", 3877, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Aux Boudots'", 3967, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Aux Murgers'", 3972, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Aux Thorey'", 3974, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Clos des Corvées'", 3981, 'fr', 'fr', 14), ("Nuits-Saint-Georges 1er Cru 'Clos des Porrets Saint-Georges'", 3985, 'fr', 'fr', 14), ("Puligny-Montrachet 1er Cru 'Champ Gain'", 4048, 'fr', 'fr', 14), ("Puligny-Montrachet 1er Cru 'La Garenne'", 4053, 'fr', 'fr', 14), ("Puligny-Montrachet 1er Cru 'La Truffière'", 4054, 'fr', 'fr', 14), ("Volnay 1er Cru 'Les Caillerets'", 4171, 'fr', 'fr', 14), ('Charlemagne Grand Cru', 4311, 'fr', 'fr', 14), ("Champagne Grand Cru 'Aÿ'", 4621, 'fr', 'fr', 14), ("Champagne Grand Cru 'Ambonnay'", 4624, 'fr', 'fr', 14), ("Champagne Grand Cru 'Avize'", 4625, 'fr', 'fr', 14), ("Champagne Grand Cru 'Le Mesnil-sur-Oger'", 4631, 'fr', 'fr', 14), ('Champagne Grand Cru', 4638, 'fr', 'fr', 14), ('Champagne Premier Cru', 4639, 'fr', 'fr', 14)]

,region_name,region_id,region_country_code,prev_country_code,grape_id
0,South Australia,7,au,au,2
1,California,24,us,us,2
2,Napa Valley,25,us,us,2
3,Sonoma County,26,us,us,2
4,Oakville,42,us,us,2
...,...,...,...,...,...
405,Champagne Grand Cru 'Ambonnay',4624,fr,fr,14
406,Champagne Grand Cru 'Avize',4625,fr,fr,14
407,Champagne Grand Cru 'Le Mesnil-sur-Oger',4631,fr,fr,14
408,Champagne Grand Cru,4638,fr,fr,14
409,Champagne Premier Cru,4639,fr,fr,14

In [62]:
# 5d - Best 5 wines per type of grapes - all together and extracting the 5 best for each grapes from all region in  the region list
query5d = ("""

WITH countries_most_common_grapes AS (
    WITH most_common_grapes_WW AS (
            SELECT  DISTINCT 
                    grapes.name,
                    most_used_grapes_per_country.grape_id,
                    most_used_grapes_per_country.wines_count AS grapes_count
                
            FROM    most_used_grapes_per_country
                    JOIN grapes ON most_used_grapes_per_country.grape_id = grapes.id
            ORDER BY grapes_count DESC
            LIMIT 3
    )          
    SELECT   
            most_used_grapes_per_country.grape_id AS grape_id,
            most_used_grapes_per_country.country_code as country_code
                    
    FROM    most_used_grapes_per_country
    WHERE   grape_id IN (SELECT grape_id FROM most_common_grapes_WW)
    GROUP BY grape_id, country_code
),

ranked_wines AS ( 
        SELECT                  
                ROW_NUMBER() OVER(
                        PARTITION BY countries_most_common_grapes.grape_id 
                        ORDER BY vintages.ratings_average DESC, 
                        vintages.ratings_count DESC
                        ) as row_nb,
                grapes.name AS grape_name,
                vintages.name as vintage_name,
                vintages.ratings_average AS vintages_ratings,
                vintages.ratings_count as vintages_ratings_count,
                regions.name AS region_name,
                regions.country_code AS region_country_code
                              
                   
                
        FROM    regions
                JOIN vintages ON wines.id = vintages.wine_id
                JOIN wines ON regions.id = wines.region_id
                JOIN countries  ON regions.country_code = countries.code
                --JOIN countries_most_common_grapes ON regions.country_code = countries_most_common_grapes.country_code
                JOIN countries_most_common_grapes ON countries.code = countries_most_common_grapes.country_code
                JOIN grapes ON countries_most_common_grapes.grape_id = grapes.id
                
)
           
SELECT * FROM ranked_wines WHERE row_nb <= 5
        
""")


cursor.execute(query5d)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5d, connexion)
df

Number of rows: 15
[(1, 'Cabernet Sauvignon', 'Scarecrow Cabernet Sauvignon 2015', 4.8, 243, 'Rutherford', 'us'), (2, 'Cabernet Sauvignon', 'Colgin IX Estate Red 2016', 4.8, 131, 'Napa Valley', 'us'), (3, 'Cabernet Sauvignon', 'Harlan Estate Harlan Estate Red 1998', 4.8, 104, 'Napa Valley', 'us'), (4, 'Cabernet Sauvignon', 'Artadi Viña El Pison 2018', 4.8, 64, 'Vino de España', 'es'), (5, 'Cabernet Sauvignon', 'Opus One Opus One 2015', 4.7, 4948, 'Napa Valley', 'us'), (1, 'Chardonnay', 'Biondi-Santi Brunello di Montalcino Riserva 1955', 4.9, 35, 'Brunello di Montalcino', 'it'), (2, 'Chardonnay', "Château Doisy-Daëne L'Extravagant de Doisy-Daëne Sauternes 2001", 4.9, 32, 'Sauternes', 'fr'), (3, 'Chardonnay', 'Pétrus Pomerol 1990', 4.8, 1190, 'Pomerol', 'fr'), (4, 'Chardonnay', 'Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996', 4.8, 1004, "Champagne Grand Cru 'Le Mesnil-sur-Oger'", 'fr'), (5, 'Chardonnay', 'Château Lafite Rothschild Pauillac (Premier Grand Cru Classé) 2003', 4.8, 1000, 'Pauillac', 'fr'), (1, 'Pinot Noir', "Château Doisy-Daëne L'Extravagant de Doisy-Daëne Sauternes 2001", 4.9, 32, 'Sauternes', 'fr'), (2, 'Pinot Noir', 'Pétrus Pomerol 1990', 4.8, 1190, 'Pomerol', 'fr'), (3, 'Pinot Noir', 'Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996', 4.8, 1004, "Champagne Grand Cru 'Le Mesnil-sur-Oger'", 'fr'), (4, 'Pinot Noir', 'Château Lafite Rothschild Pauillac (Premier Grand Cru Classé) 2003', 4.8, 1000, 'Pauillac', 'fr'), (5, 'Pinot Noir', 'Château Latour Grand Vin Pauillac (Premier Grand Cru Classé) 2003', 4.8, 920, 'Pauillac', 'fr')]

,row_nb,grape_name,vintage_name,vintages_ratings,vintages_ratings_count,region_name,region_country_code
0,1,Cabernet Sauvignon,Scarecrow Cabernet Sauvignon 2015,4.8,243,Rutherford,us
1,2,Cabernet Sauvignon,Colgin IX Estate Red 2016,4.8,131,Napa Valley,us
2,3,Cabernet Sauvignon,Harlan Estate Harlan Estate Red 1998,4.8,104,Napa Valley,us
3,4,Cabernet Sauvignon,Artadi Viña El Pison 2018,4.8,64,Vino de España,es
4,5,Cabernet Sauvignon,Opus One Opus One 2015,4.7,4948,Napa Valley,us
5,1,Chardonnay,Biondi-Santi Brunello di Montalcino Riserva 1955,4.9,35,Brunello di Montalcino,it
6,2,Chardonnay,Château Doisy-Daëne L'Extravagant de Doisy-Daë...,4.9,32,Sauternes,fr
7,3,Chardonnay,Pétrus Pomerol 1990,4.8,1190,Pomerol,fr
8,4,Chardonnay,Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut...,4.8,1004,Champagne Grand Cru 'Le Mesnil-sur-Oger',fr
9,5,Chardonnay,Château Lafite Rothschild Pauillac (Premier Gr...,4.8,1000,Pauillac,fr
10,1,Pinot Noir,Château Doisy-Daëne L'Extravagant de Doisy-Daë...,4.9,32,Sauternes,fr
11,2,Pinot Noir,Pétrus Pomerol 1990,4.8,1190,Pomerol,fr
12,3,Pinot Noir,Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut...,4.8,1004,Champagne Grand Cru 'Le Mesnil-sur-Oger',fr
13,4,Pinot Noir,Château Lafite Rothschild Pauillac (Premier Gr...,4.8,1000,Pauillac,fr
14,5,Pinot Noir,Château Latour Grand Vin Pauillac (Premier Gra...,4.8,920,Pauillac,fr

In [54]:
# 5e - calculate the ration of the grape name in the  wine name

query5e = ("""
SELECT 
        grapes.name AS grape_name,
        COUNT(wines.name) AS wine_name_count,
        COUNT(wines.name)*100.0/(SELECT(COUNT(wines.name)) from wines) AS "ratio_(%)"

FROM  grapes
      JOIN wines ON wines.name LIKE '%' || grapes.name || '%'
        
WHERE grapes.name IN ('Chardonnay', 'Cabernet Sauvignon', 'Pinot Noir')
           
GROUP BY grapes.name
           
UNION ALL 

SELECT 
           'Total_nb_wines' AS grape_name,
            COUNT(wines.name) AS wine_name_count,
            100.0 as "ratio_(%)"
FROM wines

""")

cursor.execute(query5e)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5e, connexion)
df

Number of rows: 4
[('Cabernet Sauvignon', 29, 2.843137254901961), ('Chardonnay', 8, 0.7843137254901961), ('Pinot Noir', 10, 0.9803921568627451), ('Total_nb_wines', 1020, 100.0)]

           grape_name  wine_name_count   ratio_(%)
0  Cabernet Sauvignon               29    2.843137
1          Chardonnay                8    0.784314
2          Pinot Noir               10    0.980392
3      Total_nb_wines             1020  100.000000

In [1]:
# 6a - Country rates on wines vizualisation 
query6a= ("""
SELECT  countries.name AS Country,
        countries.users_count AS users_nb,
        AVG(wines.ratings_average) AS ratings_avg, 
        SUM(wines.ratings_count) AS 'total_ratings',
        ROUND(SUM(wines.ratings_count)*1.0/countries.users_count,2) AS 'ratings/user',
        countries.wines_count AS wines_count,
        countries.wineries_count AS wineries_nb
        
        
        
        
FROM    countries
        JOIN regions ON countries.code = regions.country_code
        JOIN wines ON regions.id = wines.region_id

GROUP BY countries.name
ORDER BY AVG(wines.ratings_average) DESC, AVG(wines.ratings_count) DESC

""") 

cursor.execute(query6a)
result = cursor.fetchall()
print("Number of rows:", len(result))
#print (result)
df = pd.read_sql_query(query6a, connexion)
print(df)




fig1 = px.bar(df.sort_values('ratings_avg', ascending=False), 
             x='Country', 
             y='ratings_avg', 
             title='Wines Rating per Country',
             labels={'ratings_avg': '', 'Country': ''},
             color='ratings_avg',
             color_continuous_scale=px.colors.sequential.Magenta)

# Improve the layout
fig1.update_yaxes(range=[4, max(df['ratings_avg'])], dtick=0.5)
fig1.update_layout(
    title={
        'text': "<b>Wines Rating per country of production</b>",
        'y':0.95,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top',
        'font': {'size': 26}
        })

fig1.add_annotation(
    xref='paper',
    yref='paper',
    x=-0.04,
    y=1.15,
    text='<b>Rating</b>',
    showarrow=False,
    font=dict(
        size=14,
        color="black"
    ),
    align='left',
    ax=0,
    ay=0,
    bordercolor='white',
    borderwidth=1,
    borderpad=4
)

fig1.show()

NameError: name 'cursor' is not defined

In [60]:
#7 - Cabernet sauvignon recommendation

query5d = ("""

WITH countries_most_common_grapes AS (
    SELECT   
            most_used_grapes_per_country.grape_id AS grape_id,
            most_used_grapes_per_country.country_code as country_code
                    
    FROM    most_used_grapes_per_country
    WHERE   grape_id = 2 
    
),

ranked_vintage AS ( 
        SELECT
                --countries_most_common_grapes.grape_id AS grape_id,
                grapes.name AS grape_name,
                vintages.name as vintage_name,
                vintages.ratings_average AS vintages_ratings,
                vintages.ratings_count as vintages_ratings_count,
                vintages.price_euros AS price,
                --wines.name as wines_name,
                --wines.ratings_average AS ratings,
                --wines.ratings_count as ratings_count,
                regions.name AS region_name,
                regions.country_code AS region_country_code
                --countries_most_common_grapes.country_code AS prev_country_code
                --wines.region_id as wines_region_id,
                --regions.id AS region_id,
                
                   
                
        FROM    regions
                JOIN vintages ON wines.id = vintages.wine_id
                JOIN wines ON regions.id = wines.region_id
                --JOIN countries  ON regions.country_code = countries.code
                JOIN countries_most_common_grapes ON regions.country_code = countries_most_common_grapes.country_code
                JOIN grapes ON countries_most_common_grapes.grape_id = grapes.id
)
           
SELECT * FROM ranked_vintage 
ORDER BY price DESC
LIMIT 20
           
        
""")


cursor.execute(query5d)
result = cursor.fetchall()
print("Number of rows:", len(result))
print (result)
df = pd.read_sql_query(query5d, connexion)
df

Number of rows: 20
[('Cabernet Sauvignon', 'Dominio de Pingus Pingus 2004', 4.7, 273, 3395.0, 'Ribera del Duero', 'es'), ('Cabernet Sauvignon', 'Dominio de Pingus Pingus 2014', 4.6, 174, 2668.75, 'Ribera del Duero', 'es'), ('Cabernet Sauvignon', 'Dominio de Pingus Pingus 2005', 4.7, 290, 2327.5, 'Ribera del Duero', 'es'), ('Cabernet Sauvignon', 'Descendientes de J. Palacios La Faraona Bierzo (Corullón) 2014', 0.0, 20, 2327.5, 'Bierzo', 'es'), ('Cabernet Sauvignon', 'Descendientes de J. Palacios La Faraona Bierzo (Corullón) 2016', 0.0, 24, 2071.25, 'Bierzo', 'es'), ('Cabernet Sauvignon', 'Dominio de Pingus Pingus 2015', 4.7, 223, 2028.75, 'Ribera del Duero', 'es'), ('Cabernet Sauvignon', 'Harlan Estate Harlan Estate Red 1998', 4.8, 104, 1921.25, 'Napa Valley', 'us'), ('Cabernet Sauvignon', 'Dominio de Pingus Pingus 2013', 4.6, 330, 1665.0, 'Ribera del Duero', 'es'), ('Cabernet Sauvignon', 'Opus One Opus One 2015', 4.7, 4948, 1665.0, 'Napa Valley', 'us'), ('Cabernet Sauvignon', 'Scarecrow Cabernet Sauvignon 2015', 4.8, 243, 1558.75, 'Rutherford', 'us'), ('Cabernet Sauvignon', 'Penfolds Grange 2016', 4.7, 304, 1265.0, 'South Australia', 'au'), ('Cabernet Sauvignon', 'Penfolds Grange 2017', 4.6, 212, 1200.0, 'South Australia', 'au'), ('Cabernet Sauvignon', 'Torbreck The Laird 2017', 0.0, 13, 1173.75, 'Barossa Valley', 'au'), ('Cabernet Sauvignon', 'Penfolds Grange 2018', 4.7, 196, 1061.8, 'South Australia', 'au'), ('Cabernet Sauvignon', 'Vega Sicilia Unico 1965', 4.6, 226, 1040.6, 'Ribera del Duero', 'es'), ('Cabernet Sauvignon', 'Opus One Opus One 2013', 4.6, 7011, 768.75, 'Napa Valley', 'us'), ('Cabernet Sauvignon', 'Dominus Dominus (Christian Moueix) 2018', 4.7, 370, 765.9, 'Napa Valley', 'us'), ('Cabernet Sauvignon', 'Colgin IX Estate Red 2016', 4.8, 131, 745.0, 'Napa Valley', 'us'), ('Cabernet Sauvignon', 'Dalla Valle Maya 2019', 0.0, 22, 745.0, 'Oakville', 'us'), ('Cabernet Sauvignon', 'Penfolds Grange 2015', 4.7, 509, 739.0, 'South Australia', 'au')]

,grape_name,vintage_name,vintages_ratings,vintages_ratings_count,price,region_name,region_country_code
0,Cabernet Sauvignon,Dominio de Pingus Pingus 2004,4.7,273,3395.00,Ribera del Duero,es
1,Cabernet Sauvignon,Dominio de Pingus Pingus 2014,4.6,174,2668.75,Ribera del Duero,es
2,Cabernet Sauvignon,Dominio de Pingus Pingus 2005,4.7,290,2327.50,Ribera del Duero,es
3,Cabernet Sauvignon,Descendientes de J. Palacios La Faraona Bierzo...,0.0,20,2327.50,Bierzo,es
4,Cabernet Sauvignon,Descendientes de J. Palacios La Faraona Bierzo...,0.0,24,2071.25,Bierzo,es
5,Cabernet Sauvignon,Dominio de Pingus Pingus 2015,4.7,223,2028.75,Ribera del Duero,es
6,Cabernet Sauvignon,Harlan Estate Harlan Estate Red 1998,4.8,104,1921.25,Napa Valley,us
7,Cabernet Sauvignon,Dominio de Pingus Pingus 2013,4.6,330,1665.00,Ribera del Duero,es
8,Cabernet Sauvignon,Opus One Opus One 2015,4.7,4948,1665.00,Napa Valley,us
9,Cabernet Sauvignon,Scarecrow Cabernet Sauvignon 2015,4.8,243,1558.75,Rutherford,us
10,Cabernet Sauvignon,Penfolds Grange 2016,4.7,304,1265.00,South Australia,au
11,Cabernet Sauvignon,Penfolds Grange 2017,4.6,212,1200.00,South Australia,au
12,Cabernet Sauvignon,Torbreck The Laird 2017,0.0,13,1173.75,Barossa Valley,au
13,Cabernet Sauvignon,Penfolds Grange 2018,4.7,196,1061.80,South Australia,au
14,Cabernet Sauvignon,Vega Sicilia Unico 1965,4.6,226,1040.60,Ribera del Duero,es
15,Cabernet Sauvignon,Opus One Opus One 2013,4.6,7011,768.75,Napa Valley,us
16,Cabernet Sauvignon,Dominus Dominus (Christian Moueix) 2018,4.7,370,765.90,Napa Valley,us
17,Cabernet Sauvignon,Colgin IX Estate Red 2016,4.8,131,745.00,Napa Valley,us
18,Cabernet Sauvignon,Dalla Valle Maya 2019,0.0,22,745.00,Oakville,us
19,Cabernet Sauvignon,Penfolds Grange 2015,4.7,509,739.00,South Australia,au